<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include basic_include.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="app"></div>
<div id="blog_list"></div>
<div id="tabbar"></div>
<script type="text/babel">

      var tabBar = {
          display:"flex",
          height:49,
          flexDirection:"row",
          backgroundColor:"#f5f5f5",
          bottom:1,
      }
      var tabBarItem = {
          height:49,
          flex:1,
          textAlign:"center",
          cursor:"pointer",
          borderBottom:"1px solid #f1f1f1"
      }
      var icon = {
          height:22,
          width:22,
          marginTop:8
      }
      var itemTitle = {
          margin:0,
          fontSize:10,
          color:"#999"
      }



      var TabBarItem = React.createClass({
          render:function(){
              return(
                <div style={tabBarItem}>
                    <img style={icon} src={this.props.icon}/>
                    <p style={itemTitle}>{this.props.title}</p>
                </div>
              )
          }
      });

      var TabBar = React.createClass({
          render:function(){
              return(
                <div style={tabBar}>
                    <TabBarItem icon="/images/icon/home.png" title="动态"/>
                    <TabBarItem icon="/images/icon/book.png" title="书架"/>
                    <TabBarItem icon="/images/icon/account.png" title="我的"/>
                </div>
              )
          }
      });
      ReactDOM.render(
        <TabBar />,
        document.getElementById('tabbar')
      );

      var ListView = React.createClass({
          getInitialState:function(){
              var height = document.documentElement.clientHeight-49;
              return {pageHeight:height}
          },

          render:function(){
              var listView = {
                  flex:1,
                  height:this.state.pageHeight,
                  backgroundColor:"orange"
              }
              return(
                  <div style={listView} >{this.state.pageHeight}</div>
              )
          }
      })

      ReactDOM.render(
        <ListView />,
        document.getElementById('blog_list')
      );


    </script>
</body>
</html>
