<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <ul class="topic-nav">
                    <li><a class="item item-active" ng-click="changeOrder(0)">全部</a></li>
                    <li><a class="item" ng-click="changeOrder(1)">最热</a></li>
                    <li><a class="item" ng-click="changeOrder(2)">最新</a></li>
                </ul>
            </div>
            <div class="row" ng-repeat="topic in topic_list|filter:query | orderBy:order:true">
                <div class="topic-item" style="background-color: #fff">
                    <div class="userinfo">
                        <img class="image" ng-src="/images/{{topic.head_image}}" alt=""/>
                        <p style="margin: 0px">
                            <span style="color: #333;">[{{topic.name}}]</span>
                            <a href="#/blog/{{topic.sha1}}">{{topic.title}}</a>
                            <em style="float: right;font-size: 13px;color: #666">{{topic.time | date:"yyyy-MM-dd hh:mm"}}</em>
                        </p>
                        <p style="margin:0px;font-size: 12px;white-space: pre-line;color: #666">{{topic.desc}}</p>
                        <p>
                            <span style="display:inline-block;margin:0px 10px 0px 0px;font-size: 13px;color: rgba(0,0,0,0.56)">博客 ({{topic.related.length}})</span>
                            <span style="display:inline-block;margin:0px 10px 0px 0px;font-size: 13px;color: rgba(0,0,0,0.56)">({{topic.related.length}})</span>
                            <span style="display:inline-block;margin:0px 10px 0px 0px;font-size: 13px;color: rgba(0,0,0,0.56)">博客 ({{topic.related.length}})</span>
                        </p>
                    </div>

                </div>
            </div>
            <div ng-show="next" class="col-xs-12 col-sm-6 col-md-4"
                 style="text-align: center">
                <div class="topic-item">
                    <a class="topic-link" ng-click="changePage(1)" style="line-height: 102px;cursor: pointer">
                        点击加载更多
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div style="padding: 10px;margin:0px 10px;">
                <h5 class="coco-title">分类下共有13篇博客，浏览量10020次</h5>
                <span style="width: 80%;margin: 0px 10%;" class="btn btn-default">
                    <a style="font-size: 15px" data-toggle="modal" data-target=".compose_topic_modal">创建话题</a>
                </span>
                <h5 class="coco-title">你可能感兴趣的话题</h5>
            </div>
            <div style="padding: 10px;margin:10px 0px;">

                <!--<div class="">-->
                    <!--<input type="text" class="form-control input-sm" ng-keydown="enterSearchTopic(event)">-->

                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div class="container main-container">
    <div class="modal fade compose_topic_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建话题</h4>
                </div>
                <div class="modal-body" style="height: 220px;">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label for="exampleInputEmail1">话题</label>
                                <input ng-model="topic.title" type="text" class="form-control" id="exampleInputEmail1"
                                       placeholder="为你的博客写一段标题">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">分类</label>
                                <select ng-model="topic.type" class="form-control">
                                    <option value="0">科技</option>
                                    <option value="1">编程</option>
                                    <option value="2">设计</option>
                                    <option value="3">创业</option>
                                    <option value="4" selected>其他</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <textarea ng-model="topic.desc" class="form-control" placeholder="主题的描述" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="saveTopic()">创建</button>
                </div>
            </div>
        </div>
    </div>
</div>