<!DOCTYPE html>
<html ng-app="coco">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/AngularJs/angular-route.js"></script>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/js/coco-message-client.js"></script>
    <script type="text/javascript" src="/js/coco-util.js"></script>
    <script type="text/javascript">
        var mosu_app = angular.module('coco',['ngRoute']);
        mosu_app.config(['$routeProvider',function($routeProvider){
            $routeProvider.
                    when('/chat/',{
                        templateUrl:'/coco/chat/',
                        controller:''
                    }).
                    when('/blog/:topic_sha1',{
                        templateUrl:'/coco/blog/',
                        controller:'blogPageController'
                    }).
                    when('/index/',{
                        templateUrl:'/coco/index/',
                        controller:''
                    }).
                    when('/account/',{
                        templateUrl:'/coco/account/',
                        controller:''
                    }).
                    otherwise({redirectTo:'/index/'});
        }]);

    </script>
    <script type="text/javascript">
        function chatPageCtrl($scope, $http) {
            var height = document.documentElement.clientHeight;
            $('#friend_nav_list').height(height-130)
            $('#chat-history').height(height-190)

            $scope.chat_image = 'default.jpg'

            var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
            var userInfo = JSON.parse(loginUserInfo);
            $scope.user = userInfo;


            client.emit('LOGIN_MESSAGE_SERVER', {'user_name': userInfo.name});

            var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
            $http.post('/ajax/get_friend_list/', {creator_sha1: creator_sha1}).success(function (data) {
                if (data['ret'] == '0001') {
                    console.log(data);
                    var friend_list = data['friend_list'];
                    friend_list.every(function(obj){
                        if (obj['head_image'] == ''){
                            obj['head_image'] = 'default.jpg';
                        }
                        return obj
                    })

                    $scope.friend_list = friend_list;

                    var friend_info_dict = {}
                    var all_user_info_dict = {}
                    friend_list.forEach(function(obj){
                        friend_info_dict[obj.name] = obj
                        all_user_info_dict[obj.sha1] = obj
                    })

                    localStorage.setItem('FRIEND_INFO_DICT',JSON.stringify(friend_info_dict));
                    localStorage.setItem('ALL_USER_INFO_DICT',JSON.stringify(all_user_info_dict));
                } else {

                }
            });
            // get user friend list

            $scope.openChat = function (obj) {
                var friend_name = $(obj)[0].friend.name;
                var head_image = $(obj)[0].friend.head_image;
                $scope.chat_name = friend_name;
                $scope.chat_image = head_image;

                //
            }


        }
        function blogPageCtrl($scope) {
            var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
            $scope.user = JSON.parse(loginUserInfo);

        }

        function getUserDetailInfo(usersha1){
            var user_list = localStorage.getItem('ALL_USER_INFO_DICT');
            var user_info_dict = JSON.parse(user_list);
            var user_object = {}

            if (user_info_dict.hasOwnProperty(usersha1)){
                user_object = user_info_dict[usersha1]
                if (user_object['head_image'] == ''){
                    user_object['head_image'] = 'default.jpg';
                }
            }else{
                user_object['head_image'] = 'default.jpg';
                user_object['name'] = '未知';
            }
            return user_object;

        }



        function accountPageCtrl($scope) {
            var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
            var info = JSON.parse(loginUserInfo);
            info['time'] = new Date(parseInt(info['time'])).Format('yyyy-MM-dd')
            $scope.user = info;
        }

        function topicPageController($scope, $http) {

            var user_info_cache = localStorage.getItem('ALL_USER_INFO_DICT')
            var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');

            if(user_info_cache == null){
                $http.post('/ajax/get_friend_list/', {creator_sha1: creator_sha1}).success(function (data) {
                    if (data['ret'] == '0001') {
                        console.log(data);
                        var friend_list = data['friend_list'];
                        var friend_info_dict = {}
                        var all_user_info_dict = {}
                        friend_list.forEach(function(obj){
                            friend_info_dict[obj.name] = obj
                            all_user_info_dict[obj.sha1] = obj
                        })
                        $scope.friend_list = friend_list;

                        localStorage.setItem('FRIEND_INFO_LIST',JSON.stringify(friend_list));
                        localStorage.setItem('FRIEND_INFO_DICT',JSON.stringify(friend_info_dict));
                        localStorage.setItem('ALL_USER_INFO_DICT',JSON.stringify(all_user_info_dict));
                        // 显示所有的主题
                        showTopic();
                    } else {

                    }
                });

            }else{
                $scope.friend_list = JSON.parse(localStorage.getItem('FRIEND_INFO_LIST'));
                // 显示所有的主题
                showTopic();
            }

            function showTopic() {
                var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
                var topic_info_cache = localStorage.getItem('TOPIC_INFO_LIST');
                if(topic_info_cache == null){
                    $http.post('/ajax/get_topic_list/', {creator_sha1: creator_sha1}).success(function (data) {
                        if (data['ret'] == '0001') {
                            console.log(data);
                            var blog_list = data['topic_list']
                            blog_list.forEach(function (obj) {
                                var format_data = new Date(parseInt(obj['time']))
                                obj['time'] = format_data.Format('yyyy/MM/dd hh:mm')
                                console.log(obj['time'])
                            })
                            var topic_list = data['topic_list'];
                            topic_list.every(function(obj){
                                var userSha1 = obj.creator_sha1;
                                var userObject = getUserDetailInfo(userSha1);
                                obj['name'] = userObject['name']
                                obj['head_image'] = userObject['head_image']
                                return obj;
                            });
                            $scope.topic_list = topic_list;
                            $scope.nb_topic = topic_list.length;
                            var topic_info_dict = {};
                            topic_list.forEach(function(obj){
                                topic_info_dict[obj.sha1] = obj
                            })
                            localStorage.setItem('TOPIC_INFO_DICT',JSON.stringify(topic_info_dict));
                            localStorage.setItem('TOPIC_INFO_LIST',JSON.stringify(topic_list));
                        } else {

                        }
                    });
                }else{
                    var topic_list = JSON.parse(topic_info_cache);
                    $scope.nb_topic = topic_list.length;
                    $scope.topic_list = topic_list;
                }
            }


            $scope.saveTopic = function () {
                var topicInfo = $scope.topic;
                var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
                topicInfo['creator_sha1'] = creator_sha1
                $http.post('/ajax/save_topic/', topicInfo).success(function (data) {
                    if (data['ret'] == '0001') {
                        $scope.topic.title = '';
                        $scope.topic.desc = '';
                        $('.compose_topic_modal').modal('hide');
                        data['topic'].every(function(obj){
                            var userSha1 = obj.creator_sha1;
                            var userObject = getUserDetailInfo(userSha1);
                            obj['name'] = userObject['name']
                            obj['head_image'] = userObject['head_image']
                           return obj;
                        });

                        // 利用angular刷新
                        var topic_list = data['topic'].concat($scope.topic_list);
                        $scope.nb_topic = topic_list.length;
                        var topic_info_dict = {};
                        topic_list.every(function(obj){
                            topic_info_dict[obj.sha1] = obj;
                            if (obj.hasOwnProperty('$$hashKey')){
                                delete  obj['$$hashKey'];
                            }
                            return obj;
                        })

                        $scope.topic_list = topic_list;
                        localStorage.setItem('TOPIC_INFO_DICT',JSON.stringify(topic_info_dict));
                        localStorage.setItem('TOPIC_INFO_LIST',JSON.stringify(topic_list));
                    } else {

                    }
                });
            }

        }

        function getTopicObjectInfo(topic_sha1){

            var topic_list = localStorage.getItem('TOPIC_INFO_DICT');
            var topic_info_dict = JSON.parse(topic_list);
            var topic_object = {}

            if (topic_info_dict.hasOwnProperty(topic_sha1)){
                topic_object = topic_info_dict[topic_sha1]
            }else{
                topic_object['title'] = '全部';
                topic_object['desc'] = '未知';
            }
            return topic_object;
        }

        function blogPageController($scope, $http, $routeParams) {

            // 博客主题的信息
            var topic_sha1 = $routeParams.topic_sha1;

            // 显示博客列表
            $scope.blog_list = [];

            // 显示主题的信息
            var topic_object = getTopicObjectInfo(topic_sha1);

            $scope.topic = topic_object;

            showBlog(1);

            $scope.saveBlog = function () {
                var title = $scope.blog_title;
                var content = $scope.blog_content;
                var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
                $http.post('/ajax/save_blog/', {
                    title: title,
                    content: content,
                    creator_sha1: creator_sha1,
                    topic_sha1:topic_sha1
                }).success(function (data) {
                    if (data['ret'] == '0001') {
                        console.log(data);
                        $('.compose_blog_modal').modal('hide');
                        $scope.blog_title = ''
                        $scope.blog_content = ''
                        data['blog'].forEach(function (obj) {
                            var format_data = new Date(parseInt(obj['time']))
                            obj['time'] = format_data.Format('yyyy/MM/dd hh:mm')
                            console.log(obj['time'])
                        });
                        var blog_list = data['blog'].concat($scope.blog_list);
                        blog_list.every(function(obj){
                            var user_sha1 = obj.creator_sha1;
                            var userObj = getUserDetailInfo(user_sha1);
                            obj['name'] = userObj.name;
                            obj['head_image'] = userObj.head_image;
                            return obj;
                        });

                        // 利用angular刷新
                        $scope.blog_list = blog_list;
                        //

                    } else {

                    }
                });
            }

            $scope.changePage = function(offset){
                var page = $scope.current_page + offset;
                showBlog(page);
            }

            function showBlog(page) {
                if(page<1){
                    return;
                }
                // get blog from server
                var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
                $http.post('/ajax/get_blog_list/', {creator_sha1: creator_sha1,page:page,topic_sha1:topic_sha1}).success(function (data) {
                    if (data['ret'] == '0001') {
                        console.log(data);
                        var blog_list = data['blog_list']
//                        blog_list.forEach(function (obj) {
//                            var format_data = new Date(parseInt(obj['time']))
//                            obj['time'] = format_data.Format('yyyy/MM/dd hh:mm')
//                            console.log(obj['time'])
//                        });
                        var blog_list = data['blog_list'];
                        blog_list.every(function(obj){
                            var user_sha1 = obj.creator_sha1;
                            var userObj = getUserDetailInfo(user_sha1);
                            obj['name'] = userObj.name;
                            obj['head_image'] = userObj.head_image;
                            return obj;
                        });

                        $scope.blog_list = blog_list;
                        $scope.current_page = page
                    } else {

                    }
                });
            }
        }


    </script>
    <script type="text/javascript" src="/Jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.fileupload.js"></script>
    <script type="text/javascript">

        $(function () {
            // 文件上传
            $('#fileupload').fileupload({
                url:'/ajax/upload/',
                sequentialUploads: true,
                dataType: 'json',
                done: function (e, data) {
                    var image_url = "/images/"+data.result['sha1'];
                    $('.show_image_view').html('<img style="max-width:220px;max-height:220px;" src='+image_url+'>');
                    $('.upload-title').text('重新选择');
                    $('#fileupload').attr("imagesha1",data.result['sha1']);
                }
            });

        });
        // 保存图像
        function saveImage(){
            var imagesha1 = $('#fileupload').attr("imagesha1");
            var usersha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
            $.post('/ajax/set_image/',{imagesha1:imagesha1,usersha1:usersha1},function(data){
                console.log(data)
                var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
                // 更新前端的缓存
                var info = JSON.parse(loginUserInfo);
                info['head_image'] = imagesha1;
                sessionStorage.setItem('LOGIN_USER_INFO',JSON.stringify(info));
                // 更改前端的显示
                $('#user_head_image').attr('src','/images/'+imagesha1);
                $('.upload_image_modal').modal('hide');

            });
        }

    </script>
    <style type="text/css">
        body{
            background-color: #fafafa;
        }
        .device-item{
            width: 60px;
            height: 60px;
            border-radius:100% ;
            background-color: #b2ebf2;
            line-height: 60px;
            text-align: center;
            cursor: pointer;
            margin: auto;
        }
        .device-item:hover{
            background-color: #00bcd4;
        }
        .device-card{
            margin: 5px;
            background-color: #f5f5f5;
            box-shadow: 1px 1px 1px #ddd;
            height: 200px;
        }
        .footer-link a{
            padding: 0px 10px;
            font-size: 13px;
        }
        .footer-coryright{
            font-size: 13px;
            color: rgba(0,0,0,0.36);
        }
        .nav-kit .item{
            text-align: center;
        }
        .nav-kit .item a{
            color: rgba(255,255,255,0.87);
            text-align: center;
        }
    </style>

</head>
<body>
<div class="visible-xs-* hidden-sm hidden-md hidden-lg" style="text-align: center;border-bottom:1px solid #ff5277;background-color: #f50057;padding: 5px 0px;color: rgba(255,255,255,0.87)"><h4 style="margin: 0px">COCO </h4></div>
<div style="background-color: #ff5277;width: 100%">
    <div class="container" style="background-color: #ff5277;padding: 12px 0px;color: rgba(255,255,255,0.87)">
        <div class="row nav-kit">
            <div class="hidden-xs col-sm-4 col-md-8"><h4 style="margin: 0px">COCO </h4></div>
            <div  class="item col-xs-3 col-sm-2 col-md-1"><a href="#index"><i class="glyphicon glyphicon-home"></i>首页</a></div>
            <div class="item col-xs-3 col-sm-2 col-md-1"><a href="#blog/0"><i class="glyphicon glyphicon-align-left"></i>博客</a></div>
            <div class="item col-xs-3 col-sm-2 col-md-1"><a href="#chat"><i class="glyphicon glyphicon-envelope"></i>消息</a></div>
            <div class="item col-xs-3 col-sm-2 col-md-1"><a href="#account"><i class="glyphicon glyphicon-cog"></i>帐号</a></div>
        </div>
    </div>
</div>

<div class="" ng-view>

</div>
<div class="container-fluid" >
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            <div style="padding: 3px;text-align: center;">
                <p class="footer-link">
                    <a href="#">关于我们</a>
                    <a href="#">联系我们</a>
                    <a href="#">在线客服</a>
                    <a href="#">销售联盟</a>
                </p>
                <p class="footer-coryright">网络文化经营许可证京网文[2011]0168-061号  Copyright © 2004-2014</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade upload_image_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">换头像</h4>
            </div>
            <div class="modal-body" style="height: 300px;">
                <div class="show_image_view" style="text-align: center;padding: 0px 0px 20px 0px"></div>
                <div class="upload-btn" style="height: 40px;width: 80%;margin:0px 10%;text-align: center;position: relative;font-size: 16px;line-height: 40px;">
                    <span class="upload-title">选择照片</span>
                    <input id="fileupload" type="file" style="width: 100%;height: 100%;opacity: 0;position: absolute;top: 0px;" multiple>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                <button type="button" id="save_image" onclick="saveImage()" class="btn btn-danger btn-sm">确定</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>
