<style type="text/css">
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* force scrollbar */
    html {
        overflow-y: scroll;
    }

    body {
        font-family: sans-serif;
    }

    /* ---- isotope ---- */

    .grid {
        background: #DDD;
    }

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    /* ---- .grid-item ---- */

    .grid-sizer,
    .grid-item {
        width: 25%;
        margin-top: 20px;
    }

    .grid-item {
        float: left;
    }

    .grid-item img {
        display: block;
        max-width: 100%;
    }

    #upload_files_area {
        margin-top: 10px;
    }

    #upload_process {
        margin-top: 10px;
    }

</style>

<h3 style="color: #fff;padding-left: 10px">作品详情
    <span class="btn btn-success btn-sm pull-right">
    <a style="color: #fff;font-size: 15px;" data-toggle="modal" data-target=".upload_picture_modal">上传作品</a>
    </span>
</h3>

<div id="image_container">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="work in work_list" style="margin: 10px 0px">
        <a href="/coco/origin_file?sha1={{work.file_sha1}}" data-lightbox="image" data-title="{{work.note}}">
            <img class="img-responsive" src="/coco/file?sha1={{work.file_sha1}}">
        </a>

        <div style="padding: 5px;border-top: 1px solid #F2F2F2;background: #FAFAFA;">
            <p style="margin: 0px;padding: 3px;font-size: 12px;color: #666;">{{work.note}}
            <a style="float: right" sha1="{{work.file_sha1}}" href="javascript:void(0)" ng-click="deleteWork(this)">删除</a></p>
        </div>
    </div>
</div>
