<style type="text/css">
    .friend_list{
        margin: 0;
        padding: 0;
    }
    .friend_list .item{
        list-style: none;
        padding: 5px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        text-align: center;
    }
    .friend_list .item:hover{
        /*background-color: #fefefe;*/
        /*border-right: 2px solid #ff5277;*/
    }
    #chat-history li{
        list-style: none;
        margin: 8px;
    }
    .friend_list .nav-active{
        background-color: #ddd;
    }

    #chat-history .item .message{
        background-color: #eee;
        position: relative;
        padding:5px 15px;
        border:1px solid #eee;
        border-radius: 3px;
    }
    #chat-history .item .message::before{
        position: absolute;
        content:'';
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #dddddd;
        top: 10px;
        left: -6px;
    }
    #send_message_btn{
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 30px;
        font-size: 18px;
        border-radius: 0px;
    }
    #chat-tool i{
        margin: 5px 10px;
    }
    .message-item-left,
    .message-item-right{
        clear: both;
        width: 100%;
        position: relative;
        padding: 10px 20px;
        overflow: auto;

    }
    .message-item-left .content{
        text-align: left;
        position: absolute;
        left: 80px;
        top: 10px;;
        background-color: #eee;
        padding: 8px;
        border-radius: 5px;
        max-width: 300px;
        overflow: auto;
        word-break: break-all;
    }
    .message-item-right .content{
        text-align: right;
        position: absolute;
        right: 80px;
        top: 10px;
        background-color: #ddd;
        padding: 8px;
        border-radius: 5px;
        max-width: 300px;
        overflow: auto;
        word-break: break-all;
    }
    .message-item-left .image{
        float: left;
    }
    .message-item-right .image{
        float: right;
    }
    .message-item-left .image,
    .message-item-right .image{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #ccc;
    }
</style>
<div class="container" style="margin-top: 20px;margin-bottom:10px;border-radius: 5px;" ng-controller="chatPageCtrl">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 " style="border-radius:5px;">
            <div id="all_friend_list" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 500px;">
                    <ol style="margin: 0px;padding: 10px 5px" class="breadcrumb">
                        <li class="active ng-binding">博客达人<span style="font-size: 12px;padding: 5px;">总共 {{nb_topic}} 未读消息</span></li>
                    </ol>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="padding: 5px;cursor: pointer;text-align: center" ng-click="openChat(this)" uid="{{friend.sha1}}" class="item" ng-repeat="friend in friend_list | filter:query">
                        <div  style="background-color: #fff;border: 1px solid #ddd;padding-top: 10px;margin:0px;position: relative;border-radius: 3px;">
                            <a style="position: absolute;top: 5px;right: 10px;"><span class="badge message-badge"></span></a>
                            <img style="width: 40px;height: 40px;border-radius: 30px;" ng-src="/images/{{friend.head_image}}" alt=""/>
                            <p style="text-align: center;white-space: nowrap;text-overflow: ellipsis;overflow: hidden">{{friend.name}}</p>
                            <p>
                                <span>博客 <a href="">{{friend.nb_blog}}</a></span>
                                <span>主题 <a href="">{{friend.nb_topic}}</a></span>
                                <span>好友 <a href="">{{friend.nb_friend}}</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="current_chat_area" style="display: none;" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div style="height: 50px;background-color: #f5f5f5;padding:10px;border-bottom: 1px solid #eee">
                        <span ng-click="backBtn()" style="cursor: pointer"><i class="glyphicon glyphicon-chevron-left"></i><a>返回</a></span>
                        <img style="height: 30px;width: 30px;border-radius: 30px;margin-left: 10px" ng-src="/images/{{chat_image}}" alt=""/>
                        <span id="friend_name" fid="{{fid}}" ng-bind="chat_name"></span>
                    </div>
                    <div id="chat-history" style="height: 510px;overflow-y:auto;background-color:#fff;border: 1px solid #eee"></div>
                        <div style="padding: 10px 10px 5px 5px;background-color: #f5f5f5;overflow: auto">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <span style="padding: 5px"><i class="glyphicon glyphicon-camera" style="font-size: 22px;"></i></span>
                                <span style="padding: 5px"><i class="glyphicon glyphicon-tag" style="font-size: 22px;"></i></span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <textarea placeholder="请输入消息内容" id="chat-input" style="width: 100%;height: 40px;box-shadow: none;border:none;outline: none;margin: 0px" onkeydown="bindEnterKeySend(event)"></textarea>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="">
                                <span id="send_message_btn" class="btn btn-danger" onclick="sendChatMessage()">发送</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3">
            <div style="border-radius: 5px;border: 1px solid #f5f5f5;" >
                <div style="background-color: #fff;border-radius: 5px;height: 200px;padding: 10px 0px;">
                    <div style="text-align: center;line-height: 100px;">
                        <img style="height: 80px;width: 80px;border-radius: 80px;" ng-src="/images/{{user.head_image}}"
                             alt=""/>
                    </div>
                    <p style="text-align: center">
                        <span>主题<a href="">{{user.nb_topic}}</a></span>
                        <span>博客<a href="">{{user.nb_blog}}</a></span>
                        <span>好友<a href="">{{user.nb_friend}}</a></span>
                    </p>
                    <span style="width: 70%;margin: 0px 15%;" class="btn btn-danger">
                        <a style="color: #fff;font-size: 15px;" data-toggle="modal" data-target=".compose_topic_modal">添加好友</a>
                    </span>
                </div>
                <div>
                    <h5>我关注的人</h5>
                    <div style="border-radius: 5px;background-color: #fff;padding: 5px;">
                        <div class="friend-item" style="width: 25%;display: inline-block;text-align: center" ng-repeat="friend in friend_list">
                            <img title="{{friend.name}}" style="width: 60%;margin:0 10%;border-radius: 100%;border: 1px solid #f5f5f5" src="/images/{{friend.head_image}}" alt=""/>
                            <span style="font-size:13px;color:rgba(0,0,0,0.56);display: inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-bind="friend.name"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade login_message_server" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="input-group" style="border: 1px solid #ddd;border-radius: 3px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="login_name" class="form-control input-sm" placeholder="Your Name">
                <span class="input-group-addon" style="cursor: pointer" onclick="loginMessageServer()">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade user_info_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="height: 100px;">

        </div>
    </div>
</div>
<div class="message_template" style="display: none;">
    <div class="row message-item-left">
        <img class="image" src="" alt=""/>
        <p class="content"></p>
    </div>
    <div class="row message-item-right">
        <p class="content"></p>
        <img class="image" src="" alt=""/>
    </div>
</div>
