<!DOCTYPE html>
<html ng-app="coco">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/AngularJs/angular-route.js"></script>
    <script type="text/javascript" src="/Socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/js/coco-message-client.js"></script>
    <script type="text/javascript">
        var mosu_app = angular.module('coco',['ngRoute']);
        mosu_app.config(['$routeProvider',function($routeProvider){
            $routeProvider.
                    when('/chat/',{
                        templateUrl:'/coco/chat/',
                        controller:''
                    }).
                    when('/blog/',{
                        templateUrl:'/coco/blog/',
                        controller:''
                    }).
                    when('/index/',{
                        templateUrl:'/coco/index/',
                        controller:''
                    }).
                    when('/account/',{
                        templateUrl:'/coco/account/',
                        controller:''
                    }).
                    otherwise({redirectTo:'/index/'});
        }]);
        $(function(){

        });

    </script>
    <style type="text/css">
        .device-item{
            width: 60px;
            height: 60px;
            border-radius:100% ;
            background-color: #b2ebf2;
            line-height: 60px;
            text-align: center;
            cursor: pointer;
            margin: auto;
        }
        .device-item:hover{
            background-color: #00bcd4;
        }
        .device-card{
            margin: 5px;
            background-color: #f5f5f5;
            box-shadow: 1px 1px 1px #ddd;
            height: 200px;
        }
        .footer-link a{
            padding: 0px 10px;
            font-size: 13px;
        }
        .footer-coryright{
            font-size: 13px;
            color: rgba(0,0,0,0.36);
        }
        .nav-kit .item{

        }
        .nav-kit .item a{
            color: rgba(255,255,255,0.87);
        }
    </style>

</head>
<body>
<div class="container-fluid" style="background-color: #00bcd4;padding: 12px 0px;color: rgba(255,255,255,0.87)">
   <div class="row nav-kit">
       <div class="col-xs-1 col-sm-1 col-md-1"></div>
       <div class="col-xs-6 col-sm-6 col-md-6"><h4 style="margin: 0px">COCO </h4></div>
       <div  class="item col-xs-1 col-sm-1 col-md-1"><a href="#index"><i class="glyphicon glyphicon-home"></i>首页</a></div>
       <div class="item col-xs-1 col-sm-1 col-md-1"><a href="#blog"><i class="glyphicon glyphicon-align-left"></i>博客</a></div>
       <div class="item col-xs-1 col-sm-1 col-md-1"><a href="#chat"><i class="glyphicon glyphicon-envelope"></i>消息</a></div>
       <div class="item col-xs-1 col-sm-1 col-md-1"><a href="#account"><i class="glyphicon glyphicon-cog"></i>设置</a></div>
   </div>
</div>
<div class="" ng-view>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div style="padding: 3px;text-align: center;">
                <p class="footer-link">
                    <a href="#">关于我们</a>
                    <a href="#">联系我们</a>
                    <a href="#">在线客服</a>
                    <a href="#">销售联盟</a>
                </p>
                <p class="footer-coryright">网络文化经营许可证京网文[2011]0168-061号  Copyright © 2004-2014</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
