<style type="text/css">
    .friend_list{
        margin: 0;
        padding: 0;
    }
    .friend_list .item{
        list-style: none;
        padding: 5px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        text-align: center;
    }
    .friend_list .item:hover{
        /*background-color: #fefefe;*/
        /*border-right: 2px solid #ff5277;*/
    }
    #chat-history li{
        list-style: none;
        margin: 8px;
    }
    .friend_list .nav-active{
        background-color: #ddd;
    }

    #chat-history .item .message{
        background-color: #eee;
        position: relative;
        padding:5px 15px;
        border:1px solid #eee;
        border-radius: 3px;
    }
    #chat-history .item .message::before{
        position: absolute;
        content:'';
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #dddddd;
        top: 10px;
        left: -6px;
    }
    #send_message_btn{
        display: inline-block;
        width: 100%;
        height: 50px;
        line-height: 40px;
        font-size: 18px;
        border-radius: 0px;
    }
    #chat-tool i{
        margin: 5px 10px;
    }
    .message-item-left,
    .message-item-right{
        clear: both;
        width: 100%;
        position: relative;
        padding: 10px 20px;
        overflow: auto;

    }
    .message-item-left .content{
        text-align: left;
        position: absolute;
        left: 80px;
        top: 10px;;
        background-color: #eee;
        padding: 8px;
        border-radius: 5px;
        max-width: 300px;
        overflow: auto;
        word-break: break-all;
    }
    .message-item-right .content{
        text-align: right;
        position: absolute;
        right: 80px;
        top: 10px;
        background-color: #ddd;
        padding: 8px;
        border-radius: 5px;
        max-width: 300px;
        overflow: auto;
        word-break: break-all;
    }
    .message-item-left .image{
        float: left;
    }
    .message-item-right .image{
        float: right;
    }
    .message-item-left .image,
    .message-item-right .image{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #ccc;
    }
</style>
<div class="container" style="margin-top: 20px;margin-bottom:10px;border-radius: 5px;" ng-controller="chatPageCtrl">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 " style="border-radius:5px;">
            <ol style="margin: 0px;padding: 10px 5px" class="breadcrumb">
                <li class="active ng-binding">我的消息 <span style="font-size: 12px;padding: 5px;">总共 {{nb_topic}} 未读消息</span></li>
            </ol>
            <div id="chat-history" style="height: 510px;overflow-y:auto;background-color:#fff;border: 1px solid #eee"></div>
            <div style="height: 50px;background-color: #f5f5f5;padding:10px;border-bottom: 1px solid #eee">
                <img style="height: 30px;width: 30px;border-radius: 30px" ng-src="/images/{{chat_image}}" alt=""/>
                <span id="friend_name" fid="{{fid}}" ng-bind="chat_name"></span>
                <!--<span id="chat-tool" style="float: right;font-size: 20px"><i class="glyphicon glyphicon-time"></i><i class="glyphicon glyphicon-envelope"></i></span>-->
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <textarea placeholder="请输入消息内容" id="chat-input" style="padding:5px;width: 100%;height: 50px;box-shadow: none;border:none;outline: none;" onkeydown="bindEnterKeySend(event)"></textarea>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px;margin-left: -15px;">
                    <span id="send_message_btn" class="btn btn-danger" onclick="sendChatMessage()">发送</span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3">
            <div style="border-radius: 5px;border: 1px solid #f5f5f5;" >
                <div style="background-color: #fff;border-radius: 5px;height: 140px;padding: 10px 0px;">
                    <div style="text-align: center;line-height: 100px;">
                        <img style="height: 80px;width: 80px;border-radius: 80px;" ng-src="/images/{{user.head_image}}"
                             alt=""/>
                    </div>
                    <p style="text-align: center">
                        <span>主题<a href="">{{user.nb_topic}}</a></span>
                        <span>博客<a href="">{{user.nb_blog}}</a></span>
                        <span>好友<a href="">{{user.nb_friend}}</a></span>
                    </p>
                </div>
                <div style="padding:10px;line-height: 60px;border-bottom: 1px solid #eee;display: none">
                    <img style="height: 60px;width: 60px;border-radius: 60px;" ng-src="/images/{{user.head_image}}" alt=""/>
                    <span id="my_name" style="padding: 5px 10px;font-weight: bold">{{user.name}}</span>
                    <span>[在线]</span>
                </div>
                <div style="padding: 5px 10px;">
                    <div class="" style="position: relative">
                        <input style="margin: 5px 0px;border-radius: 15px;border-color:#ff7997;" ng-model="query" class="form-control input-sm ng-pristine ng-valid" placeholder="搜索好友" type="text">
                        <span class="search-btn" style="display: inline-block;position: absolute;top: 0px;right: 5px;padding: 5px 10px">
                            <i style="color:#ff7997" title="点击搜索" class="glyphicon glyphicon-search"></i>
                        </span>
                    </div>
                </div>
                <ul class="friend_list" id="friend_nav_list" style="background-color: #fff;overflow-y: scroll">
                    <li style="display: inline-block;width:24%;" ng-click="openChat(this)" uid="{{friend.sha1}}" class="item" ng-repeat="friend in friend_list | filter:query">
                        <img style="width: 30px;height: 30px;border-radius: 30px;" ng-src="/images/{{friend.head_image}}" alt=""/>
                        <p style="text-align: center;white-space: nowrap;text-overflow: ellipsis;overflow: hidden">{{friend.name}}</p><span class="badge pull-right"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade login_message_server" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="input-group" style="border: 1px solid #ddd;border-radius: 3px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="login_name" class="form-control input-sm" placeholder="Your Name">
                <span class="input-group-addon" style="cursor: pointer" onclick="loginMessageServer()">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade user_info_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="height: 100px;">

        </div>
    </div>
</div>
<div class="message_template" style="display: none;">
    <div class="row message-item-left">
        <img class="image" src="" alt=""/>
        <p class="content"></p>
    </div>
    <div class="row message-item-right">
        <p class="content"></p>
        <img class="image" src="" alt=""/>
    </div>
</div>
