<!DOCTYPE html>
<html ng-app="">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="SHORTCUT ICON" href="/images/icons/web_logo.ico">
    <link rel="BOOKMARK" href="/images/icons/web_logo.ico">
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/lightbox.css"/>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/Jquery/lightbox.min.js"></script>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/Jquery/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/Jquery/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.fileupload.js"></script>

    <style type="text/css">
        body{
            /*background-image: url("/images/bg_black.png");*/
        }
        .box{
            margin-top: 15px;

        }
        .box-item {
            margin: 5px -1px;
            /*padding: 2px;*/
            box-shadow: 0px 0px 5px 2px #ddd;


        }
        .box-item:hover{
        }
        .box-item{
            /*border: 1px solid #999;*/
        }
        #upload_files_area{
            margin-top: 10px;
        }
        #upload_process{
            margin-top: 10px;
        }
        .box img {
            max-width: 100%;
            border: 1px solid #f4f4f4;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            // 文件上传
            $('#fileupload').fileupload({
                url:'/ajax/upload/',
                progressInterval: 100,
                bitrateInterval: 100,
                sequentialUploads: true,
                dataType: 'json',
                progress:function(e,data){
                    console.log(data)
                    var process = ((data.loaded/data.total).toFixed(2))*100+"%"
                    $('#upload_process').text("当前进度"+process)
                },
                done: function (e, data) {
                    var image_url = "/images/"+data.result['sha1'];
                    $('#upload_files_area').html('<img style="max-width:220px;max-height:220px;" src='+image_url+'>');
                    $('.upload-title').text('重新选择');
                    $('#fileupload').attr("imagesha1",data.result['sha1']);
                }
            });
        });

        function showUploadedWorks($scope,$http) {

            function getWorkList(){
                $http.post('/ajax/get_work_list/', {user_sha1: "", page: 1}).success(function (data) {
                    if (data['ret'] == '0001') {
                        console.log(data);
                        $scope.work_list = data["work_list"]
                    } else {

                    }
                });
            }

            getWorkList()

            $scope.addWork = function () {
                var user_sha1 = "";
                var file_sha1 = $('#fileupload').attr("imagesha1");
                var note = $scope.work.note;
                $http.post('/ajax/add_work/', {
                    user_sha1: "",
                    file_sha1: file_sha1,
                    note: note
                }).success(function (data) {
                    if (data['ret'] == '0001') {
                        console.log(data);
                        $scope.work.note = "";
                        $('#fileupload').attr("imagesha1", "");
                        $('#upload_files_area').empty();
                        $('.upload_picture_modal').modal("hide");
                        getWorkList()
                    } else {

                    }
                });
            }

            $scope.deleteWork = function (obj) {
                var confirm_win = window.confirm("确定删除作品吗？")
                if (confirm_win){
                    var file_sha1 = obj.work.file_sha1;
                    $http.post('/ajax/delete_work/', {
                        user_sha1: "",
                        file_sha1: file_sha1
                    }).success(function (data) {
                        if (data['ret'] == '0001') {
                            console.log(data);
                            getWorkList();
                        } else {

                        }
                    });

                }
            }
        }
    </script>
</head>
<body>
<div style="border-top: 2px solid #000;width: 100%" ng-controller="showUploadedWorks">
    <div class="container">
        <h3 style="">张闪闪的个人作品 <span class="btn btn-success btn-sm pull-right">
                    <a style="color: #fff;font-size: 15px;" data-toggle="modal"
                       data-target=".upload_picture_modal">上传作品</a>
                </span></h3>

        <div class="clearfix">
            <p style="color: rgba(255,0,0,0.56);font-size: 20px;padding: 15px 3px 5px 3px;margin:0px;">图片
                <span>PICTURE</span></p>
        </div>
        <div id="image_container" class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 box" ng-repeat="work in work_list">
                <div class="box-item">
                    <a href="/images/{{work.file_sha1}}" data-lightbox="image" data-title="{{work.note}}">
                        <img src="/images/{{work.file_sha1}}">
                    </a>
                    <p style="padding: 5px 10px;;margin-top: 10px;margin-bottom: 0px" ng-bind="work.note"></p>
                    <div style="padding: 5px;border-top: 1px solid #F2F2F2;background: #FAFAFA;">
                        <p style="margin: 0px;padding: 3px;font-size: 12px;color: #666;">{{work.time | date:"yyyy-MM-dd"}}
                            <a style="float: right" sha1="{{work.file_sha1}}" href="javascript:void(0)" ng-click="deleteWork(this)">删除</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade upload_picture_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">传作品</h4>
                    </div>
                    <div class="modal-body" style="min-height: 300px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">描述</label>
                            <textarea ng-model="work.note" class="form-control" placeholder="博客内容"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">图片</label>

                            <div class="upload-btn"
                                 style="height: 40px;width: 100px;border-radius:2px;cursor:pointer;background-color:#eee;text-align: center;position: relative;font-size: 16px;line-height: 40px;">
                                <span class="upload-title">选择照片</span>
                                <input id="fileupload" type="file"
                                       style="width: 100px;height: 40px;margin:0px;opacity: 0;position: absolute;top: 0px;"
                                       multiple>
                            </div>
                            <p id="upload_process"></p>
                            <div id="upload_files_area">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success btn-sm" ng-click="addWork()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    imagesLoaded('#image_container', function() {
        var container = document.querySelector('#image_container');
        var msnry = new Masonry(container, {
            itemSelector: '.box-item'
        });
    });
</script>

</body>
</html>