<!DOCTYPE html>
<html ng-app="zss">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="SHORTCUT ICON" href="/images/icons/web_logo.ico">
    <link rel="BOOKMARK" href="/images/icons/web_logo.ico">
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/lightbox.css"/>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/Jquery/lightbox.min.js"></script>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/AngularJs/angular-route.js"></script>
    <script type="text/javascript" src="/Jquery/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/Jquery/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.fileupload.js"></script>

    <script type="text/javascript">

        var zss_app = angular.module('zss',['ngRoute']);
        zss_app.config(['$routeProvider',function($routeProvider){
            $routeProvider.
                    when('/detail/:work_id',{
                        templateUrl:'/zss/detail/',
                        controller:'showUploadedWorks'
                    }).
                    otherwise({redirectTo:'/zss/'});
        }]);
    </script>
    <style type="text/css">
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        /* force scrollbar */
        html { overflow-y: scroll; }

        body {
            font-family: sans-serif;
        }

        /* ---- isotope ---- */

        .grid {
            background: #DDD;
        }

        /* clear fix */
        .grid:after {
            content: '';
            display: block;
            clear: both;
        }

        /* ---- .grid-item ---- */

        .grid-sizer,
        .grid-item {
            width: 25%;
        }

        .grid-item {
            float: left;
        }

        .grid-item img {
            display: block;
            max-width: 100%;
        }


        #upload_files_area{
            margin-top: 10px;
        }
        #upload_process{
            margin-top: 10px;
        }
        .link-item{
            height: 300px;
            background-color: #f4f4f4

        }
        .link-item a{
            display: inline-block;
            width: 100%;
            height: 100%;
        }

    </style>
    <script type="text/javascript">
        $(function(){
            $('#fileupload').fileupload({
                url: '/ajax/upload/',
                progressInterval: 100,
                bitrateInterval: 100,
                sequentialUploads: true,
                dataType: 'json',
                progress: function (e, data) {
                    console.log(data)
                    var process = ((data.loaded / data.total).toFixed(2)) * 100 + "%"
                    $('#upload_process').text("当前进度" + process)
                },
                done: function (e, data) {
                    var image_url = "/images/" + data.result['sha1'];
                    $('#upload_files_area').html('<img style="max-width:220px;max-height:220px;" src=' + image_url + '>');
                    $('.upload-title').text('重新选择');
                    $('#fileupload').attr("imagesha1", data.result['sha1']);
                }
            });
        })



        function addWorkController($scope,$http){

            $scope.addWork = function(){
                var user_sha1 = "";
                var file_sha1 = $('#fileupload').attr("imagesha1");
                var work_id = $('.upload_picture_modal').attr("work_id");
                var note = $scope.work.note;
                $http.post('/ajax/add_work/', {
                    user_sha1: "",
                    file_sha1: file_sha1,
                    note: note,
                    work_id: work_id
                }).success(function (data) {
                    if (data['ret'] == '0001') {
                        console.log(data);
                        $scope.work.note = "";
                        $('#fileupload').attr("imagesha1", "");
                        $('#upload_files_area').empty();
                        $('.upload_picture_modal').modal("hide");
                        getWorkList()
                    } else {

                    }
                });
            }
        }


        function showUploadedWorks($scope,$http,$routeParams) {
            var work_id = $routeParams.work_id;
            $('.upload_picture_modal').attr("work_id",work_id);
            function getWorkList(){
                $http.post('/ajax/get_work_list/', {user_sha1: "", work_id: work_id}).success(function (data) {
                    if (data['ret'] == '0001') {
                        console.log(data);
                        $scope.work_list = data["work_list"]
                        var $grid = $('.grid').masonry({
                            itemSelector: '.grid-item',
                            percentPosition: true,
                            columnWidth: '.grid-sizer'
                        });
                        // layout Isotope after each image loads
                        $grid.imagesLoaded().progress( function() {
                            $grid.masonry();
                        });
                    } else {

                    }
                });
            }

            getWorkList();

            $scope.deleteWork = function (obj) {
                var confirm_win = window.confirm("确定删除作品吗？")
                if (confirm_win){
                    var file_sha1 = obj.work.file_sha1;
                    $http.post('/ajax/delete_work/', {
                        user_sha1: "",
                        file_sha1: file_sha1
                    }).success(function (data) {
                        if (data['ret'] == '0001') {
                            console.log(data);
                            getWorkList();
                        } else {

                        }
                    });

                }
            }
        }
    </script>
</head>
<body>
<div style="border-top: 2px solid #000;width: 100%;min-height: 800px;background-color: rgba(0,0,0,0.8)">
    <div class="container">
        <div class="row" style="background-color: rgba(0,0,0,0.6);padding-bottom: 20px">
            <h3 style="color: #fff">张闪闪的个人作品</h3>
            <div class="col-xs-3">
                <div class="link-item"><a href="#/detail/1">
                        <img src="/images/1.jpg" alt=""/>在线厨房</a></div>
            </div>
            <div class="col-xs-3">
                <div class="link-item"><a href="#/detail/2">
                        <img src="/images/2.jpg" alt=""/>迷你学校</a></div>
            </div>
            <div class="col-xs-3">
                <div class="link-item"><a href="#/detail/3"><img src="/images/3.jpg" alt=""/>企业站</a></div>
            </div>
            <div class="col-xs-3">
                <div class="link-item"><a href="#/detail/4"><img src="/images/4.jpg" alt=""/>主题</a></div>
            </div>
        </div>
        <div class="row" ng-view style="min-height: 500px;background-color: rgba(0,0,0,0.6);margin-top: 20px;">

        </div>

        <div ng-controller="addWorkController" class="modal fade upload_picture_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">传作品</h4>
                    </div>
                    <div class="modal-body" style="min-height: 300px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">描述</label>
                            <textarea ng-model="work.note" class="form-control" placeholder="博客内容"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">图片</label>

                            <div class="upload-btn"
                                 style="height: 40px;width: 100px;border-radius:2px;cursor:pointer;background-color:#eee;text-align: center;position: relative;font-size: 16px;line-height: 40px;">
                                <span class="upload-title">选择照片</span>
                                <input id="fileupload" type="file"
                                       style="width: 100px;height: 40px;margin:0px;opacity: 0;position: absolute;top: 0px;"
                                       multiple>
                            </div>
                            <p id="upload_process"></p>
                            <div id="upload_files_area">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success btn-sm" ng-click="addWork()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>