<style type="text/css">

    .info-item span{
        padding: 10px 10px 10px 0px;
        font-size: 16px;
        color: #333;

    }
    .info-item span a{
        margin-left: 5px;


    }
    .topic-item{
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #eee;
        padding: 10px;
        height: 200px;
        margin-top: 5px;

    }
    .blog-nav{
        margin: 0;
        padding: 0;
    }
    .blog-nav li{
        list-style: none;
        /*height: 80px;*/
        margin-top: 5px;
        background-color: #fff;
        /*box-shadow: 0px 0px 5px 1px #ddd;*/
        border-radius: 5px;
        border: 1px solid #eee;
        padding: 10px;
    }
    .upload-btn{
        border-radius: 3px;
        background-color: #eee;
        cursor: pointer;
    }
    .upload-btn:hover{
        background-color: #ddd;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-nav-bar row">
                <div class="col-xs-5 col-sm-7 col-md-8">
                    <ol style="margin: 0px;padding: 5px;background-color: transparent" class="breadcrumb">
                        <li><a href="#chat/">个人信息</a></li>
                    </ol>
                </div>
            </div>
            <div class="row" style="background-color: #fff">
                <div class="col-xs-12 col-sm-4 col-md-3" style="text-align: center;height: 200px;line-height: 200px;position: relative;">
                    <img id="user_head_image" ng-src="/images/{{user.head_image}}" style="width: 120px;height: 120px;border-radius: 60px;background-color: #f5f5f5" alt=""/>
                    <a ng-show="user.mine" style="position: absolute;bottom: 0px;width: 100%;left: 0px;cursor: pointer" class="btn" data-toggle="modal" data-target=".upload_image_modal">更换头像</a>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8" style="font-size: 15px;">
                    <div style="padding: 20px 10px;">
                        <h3>{{user.name}}</h3>
                        <p style="color: rgba(0,0,0,0.56)"><span>邮箱 : </span><span ng-bind="user.email"></span></p>
                        <p style="color: rgba(0,0,0,0.56)"><span>手机 : </span><span ng-bind="user.phone"></span></p>
                        <p style="color: rgba(0,0,0,0.56)"><span>注册时间 : </span><span ng-bind="user.time"></span></p>
                        <p class="info-item" style="color: rgba(0,0,0,0.56)">
                            <span>主题<a href="" ng-bind="user.nb_topic"></a></span>
                            <span>博客<a href="" ng-bind="user.nb_blog"></a></span>
                            <span>好友<a href="" ng-bind="user.nb_friend"></a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p class="coco-title">当前位置：<a ng-bind="infos.location">北京</a></p>
            <p>{{infos.date | date:"yyyy-MM-dd hh:mma"}}</p>
            <p class="coco-title">天气</p>
            <div style="text-align: center;padding: 10px">
                <img src="/images/weather/cloud.png" alt=""/>
                <p>多云转阴</p>
            </div>
            <div ng-show="user.mine" style="margin-top: 15px;border-top: 1px solid #ddd;">
                <p>当前登录账号: <a href="" ng-bind="infos.name"></a></p>
                <p>登录IP: <a href="" ng-bind="infos.ip"></a></p>
            <span style="width: 80%;margin: 10px 10%;" class="btn btn-default">
                <a style="font-size: 15px;" ng-click="logout()">切换账号</a>
            </span>
            </div>
        </div>
    </div>
</div>

