<!DOCTYPE html>
<html ng-app>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
</head>
<style type="text/css">
    body{
        /*background-color: #fafafa;*/
    }
    .nav-kit .item{
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        text-align: right;
    }
    .nav-kit .item a{
        color: rgba(255,82,119,0.8)
    }
    .footer-link a{
        padding: 0px 10px;
        font-size: 13px;
    }
    .footer-coryright{
        font-size: 13px;
        color: rgba(0,0,0,0.36);
    }
    pre{
        background-color: #fff;
        border: none;
        padding: 8px 5px;
        width: 90%;
    }
    .form-group label,.checkbox label{
        color: rgba(255,255,255,1);
    }

</style>
<body>
<div style="width: 100%;background-color: #f5f5f5">
    <div class="container" style="padding: 12px 0px;">
        <div class="row nav-kit">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><span style="font-size: 26px;color: rgba(255,82,119,0.8)">COCO</span></div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
                <img style="width: 40px;height: 40px;" src="/images/icons/logo_bg.png" alt=""/>
            </div>
            <div class="item col-xs-2 col-sm-2 col-md-offset-3 col-md-1 col-lg-offset-3 col-lg-1"><a href="/coco/register/">注册</a></div>
            <div class="item col-xs-2 col-sm-2 col-md-1 col-lg-1"><a href="/coco/login/">登录</a></div>
        </div>
    </div>
</div>
<div class="container" style="min-height: 600px">

</div>

<div class="container-fluid" style="background-color: #eee">
    <div class="row">
        <div class="col-xs-12" style="margin-top: 20px;">
            <div style="padding: 3px;text-align: center;">
                <p class="footer-link">
                    <a href="#">关于我们</a>
                    <a href="#">联系我们</a>
                    <a href="#">在线客服</a>
                    <a href="#">销售联盟</a>
                </p>
                <p class="footer-coryright">网络文化经营许可证京网文[2011]0168-061号  Copyright © 2004-2014</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
