
<style type="text/css">
    .blog-nav{
        margin: 0;
        padding: 0;
    }
    .blog-nav li{
        list-style: none;
        height: 80px;
        margin-top: 10px;
        background-color: #fafafa;
        box-shadow: 0px 0px 5px 1px #ddd;
    }

</style>

<div class="container" style="background-color: #f5f5f5">
    <div class="row">
        <div class="col-md-9">
            <h4>博客列表</h4>
            <div style="height: 40px;background-color: #fff">
                <span>朋友的博客</span>
                <span>我的博客</span>
                <span style="float: right">写博客</span>
            </div>
            <ul class="blog-nav">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
            </ul>
            <nav style="margin: auto;text-align: center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3" style="height: 600px;margin-top: 20px;"></div>

    </div>


</div>