<style type="text/css">
    .friend_list{
        margin: 0;
        padding: 0;
    }
    .friend_list .item{
        list-style: none;
        padding: 5px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        text-align: center;
    }
    .friend_list .item:hover{
        /*background-color: #fefefe;*/
        /*border-right: 2px solid #ff5277;*/
    }
    #chat-history li{
        list-style: none;
        margin: 8px;
    }
    .friend_list .nav-active{
        background-color: #ddd;
    }

    #chat-history .item .message{
        background-color: #eee;
        position: relative;
        padding:5px 15px;
        border:1px solid #eee;
        border-radius: 3px;
    }
    #chat-history .item .message::before{
        position: absolute;
        content:'';
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #dddddd;
        top: 10px;
        left: -6px;
    }
    #send_message_btn{
        display: inline-block;
        width: 100%;
        height: 36px;
        line-height: 22px;
        font-size: 16px;
        border-radius: 0px;
    }
    #chat-tool i{
        margin: 5px 10px;
    }
    .message-item-left,
    .message-item-right{
        clear: both;
        width: 100%;
        position: relative;
        padding: 10px 20px;
        overflow: auto;

    }
    .message-item-left .content{
        text-align: left;
        position: absolute;
        left: 80px;
        top: 10px;;
        background-color: #eee;
        padding: 8px;
        border-radius: 5px;
        max-width: 300px;
        overflow: auto;
        word-break: break-all;
    }
    .message-item-right .content{
        text-align: right;
        position: absolute;
        right: 80px;
        top: 10px;
        background-color: #ddd;
        padding: 8px;
        border-radius: 5px;
        max-width: 300px;
        overflow: auto;
        word-break: break-all;
    }
    .message-item-left .image{
        float: left;
    }
    .message-item-right .image{
        float: right;
    }
    .message-item-left .image,
    .message-item-right .image{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #ccc;
    }
    .friend-item{
        background-color: #fff;
        border: 1px solid #eee;
        padding-top: 10px;
        margin:0px;
        position: relative
    }
    .friend-item:hover{
        background-color: #4cae4c;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9" style="border-radius:5px;">
            <div class="row blog-nav-bar">
                <div class="col-xs-8 col-sm-8 col-md-9">
                    <ol style="margin: 0px;padding:5px;background-color: transparent" class="breadcrumb">
                        <li><a href="#index/">社区消息</a></li>
                    </ol>
                </div>
                <!--<div class="col-xs-4 col-sm-4 col-md-3">-->
                    <!--<input style="margin: 0px;border-radius: 15px;" ng-model="query" ng-keydown="enterSearchTopic(event)" class="form-control input-sm" placeholder="搜索主题" type="text">-->
                    <!--<span class="search-btn" style="display: inline-block;position: absolute;top: 2px;right: 18px;padding: 5px 10px">-->
                        <!--<i style="color:#ff7997" title="点击消息" class="glyphicon glyphicon-search"></i>-->
                    <!--</span>-->
                <!--</div>-->
            </div>
            <div style="height: 700px"></div>
        </div>
        <div class="hidden-xs hidden-sm col-sm-3 col-md-3">
            
        </div>
    </div>
</div>
<div class="modal fade login_message_server" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="input-group" style="border: 1px solid #ddd;border-radius: 3px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="login_name" class="form-control input-sm" placeholder="Your Name">
                <span class="input-group-addon" style="cursor: pointer" onclick="loginMessageServer()">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade user_info_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="height: 100px;">

        </div>
    </div>
</div>
<div class="message_template" style="display: none;">
    <div class="row message-item-left">
        <img class="image" src="" alt=""/>
        <p class="content"></p>
    </div>
    <div class="row message-item-right">
        <p class="content"></p>
        <img class="image" src="" alt=""/>
    </div>
</div>
