<style type="text/css">
    .topic-item{
        background-color: #fefefe;
        /*border-radius: 3px;*/
        padding: 8px;
        /*height: 160px;*/
        margin-top: 10px;
        cursor: pointer;
        border-left: 4px solid #eee;

    }
    .topic-item:hover{
        /*box-shadow: 0px 0px 10px 3px #ddd;*/
        border-left-color: #ff5277;
    }
    .topic-item .topic-link{
        text-decoration: none;
    }
    .friend-item{
        padding-top: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .friend-item:hover{
        background-color: #eee;
    }
    .concren-item{
        list-style: none;
        padding: 8px;
        cursor: pointer;
    }
    .concren-item:hover{
        background-color: #eee;
    }
    p{
        margin: 0;
    }

</style>

<div class="container" ng-controller="topicPageController as mainCtrl">
    <div class="row">
        <div class="col-md-9">
            <div style="margin-top: 20px">
                <ol style="margin: 0px;padding: 10px 5px" class="breadcrumb">
                    <li class="active ng-binding">我的主题 <span style="font-size: 12px;padding: 5px;">总共 {{nb_topic}} 个主题</span></li>
                </ol>
                <div class="row blog-nav-bar" style="margin-top: 5px;">
                    <div class="col-xs-5 col-sm-4 col-md-3">
                        <input style="margin: 5px 0px;border-radius: 15px;border-color:#ff7997;" ng-model="query" class="form-control input-sm" placeholder="搜索主题" type="text">
                    <span class="search-btn" style="display: inline-block;position: absolute;top: 6px;right: 18px;padding: 5px 10px">
                        <i style="color:#ff7997" title="点击搜索" class="glyphicon glyphicon-search"></i></span>
                    </div>
                    <div class="col-xs-1 col-sm-3 col-md-5">
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-4">

                    </div>
                </div>
            </div>
            <div style="border-radius: 5px;">
                <div class="row">
                    <!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="topic in topic_list|filter:query">-->
                    <div class="col-md-12" ng-repeat="topic in topic_list|filter:query">
                        <div class="topic-item">
                            <a class="topic-link" href="#/blog/{{topic.sha1}}">
                            <div class="row">
                                <div class="col-md-1" style="text-align: center">
                                    <img style="width: 30px;height: 30px;border-radius:30px;" ng-src="/images/{{topic.head_image}}" alt=""/>
                                    <!--<p style="padding: 0px 5px;">{{topic.name}}</p>-->
                                </div>
                                <div class="col-md-8" style="padding: 0">
                                    <p style="font-size: 13px;font-weight: bold;">标题:{{topic.title}}</p>
                                    <p style="font-size: 13px;color: rgba(0,0,0,0.56);white-space: nowrap;text-overflow: ellipsis;overflow: hidden;height: 30px;">描述:{{topic.desc}}</p>

                                </div>
                                <div class="col-md-3" style="text-align: right">
                                    <p style="font-size: 13px;color: rgba(0,0,0,0.56)">{{topic.time}}</p>

                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div style="margin-top: 20px">-->
                <!--<ol style="margin: 0px;padding: 10px 5px" class="breadcrumb">-->
                    <!--<li class="active ng-binding">热门主题</li>-->
                <!--</ol>-->
            <!--</div>-->
            <!--<div style="border-radius: 5px;">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="topic in topic_list">-->
                        <!--<div class="topic-item">-->
                            <!--<p style="font-size: 13px;text-align: center;color: rgba(0,0,0,0.56)">{{topic.time}}</p>-->
                            <!--<h4 style="text-align: center;line-height: 70px;border-bottom: 1px solid #eee">{{topic.title}}</h4>-->
                            <!--<p style="margin: 0px;font-size: 13px;color: rgba(0,0,0,0.87)">{{topic.desc}}</p>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="col-md-3" style="height: 600px;margin-top: 20px;" ng-controller="blogPageCtrl">
            <div style="background-color: #fff;border-radius: 5px;height: 200px;padding: 10px 0px;">
                <div style="text-align: center;line-height: 100px;">
                    <img style="height: 80px;width: 80px;border-radius: 80px;" ng-src="/images/{{user.head_image}}" alt=""/>
                </div>
                <p style="text-align: center">
                    <span>好友<a href="" ng-bind="user.nb_friend"></a></span>
                    <span>主题<a href="" ng-bind="user.nb_topic"></a></span>
                    <span>博客<a href="" ng-bind="user.nb_blog"></a></span>
                </p>
            <span style="width: 70%;margin: 0px 15%;" class="btn btn-danger">
                <a style="color: #fff;font-size: 15px;" data-toggle="modal" data-target=".compose_topic_modal">创建主题</a>
            </span>
            </div>
            <div>
                <h5>我关注的人</h5>
                <div style="border-radius: 5px;background-color: #fff;padding: 5px;">
                    <div class="friend-item" style="width: 25%;display: inline-block;text-align: center" ng-repeat="friend in friend_list">
                        <img style="width: 60%;margin:0 10%;border-radius: 100%" src="/images/{{friend.head_image}}" alt=""/>
                        <span style="font-size:13px;color:rgba(0,0,0,0.56);display: inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-bind="friend.name"></span>
                    </div>
                </div>
                <h5>最热主题</h5>
                <div style="border-radius: 5px;background-color: #fff">
                    <li class="concren-item" ng-repeat="concern in topic_list|limitTo:10">
                        <a href="#/blog/{{concern.sha1}}"><span>{{concern.title}}</span></a>
                        <span style="font-size: 12px;color: rgba(0,0,0,0.56);float: right">{{concern.time|date:"hh:mm"}}</span>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade compose_topic_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建主题</h4>
                </div>
                <div class="modal-body" style="height: 220px;">
                    <div class="form-group">
                        <label for="exampleInputEmail1">主题</label>
                        <input ng-model="topic.title" type="text" class="form-control" id="exampleInputEmail1" placeholder="为你的博客写一段标题">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <textarea ng-model="topic.desc" class="form-control" placeholder="主题的描述" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="saveTopic()">创建</button>
                </div>
            </div>
        </div>
    </div>
</div>


