<style type="text/css" xmlns="http://www.w3.org/1999/html">
    .blog-nav {
        margin: 0;
        padding: 0;
    }

    .blog-nav li {
        list-style: none;
        /*height: 80px;*/
        background-color: #fff;
        /*box-shadow: 0px 0px 5px 1px #ddd;*/
        /*border-radius: 5px;*/
        /*border: 1px solid #eee;*/
        /*border-left: 4px solid #eee;*/
    }
    .blog-nav li .index{
        margin: 0px;
        padding: 10px;
        font-weight: bold;
        /*border-bottom: 1px solid #ddd;*/
        cursor: pointer;
        color: rgba(0,0,0,0.8);
    }
    .blog-nav li:hover{
        /*border-left-color:#ff5277;*/
        /*border-left-color:#5cb85c;*/
    }

    .pagination li a, .pagination a span {
        color: #666;
    }
    .oprate-bar{
        /*padding: 5px;*/
        text-align: right;
        margin: 0;
    }
    .oprate-bar span{
        padding: 0px 20px;
        color: rgba(0,0,0,0.56);
        font-size: 13px;
        cursor: pointer;
    }
    .oprate-bar span:hover{
        text-decoration: underline;
    }
    .blog-nav-bar{
        padding: 0px 5px;

    }
    .blog-nav-bar .nav-item{
        cursor: pointer;
        margin-right: 5px;
        padding: 4px 8px;
        border-radius: 35px;
    }
    .blog-nav-bar .nav-active{
        /*border-bottom: 2px solid #ff7997;*/
        background-color: #5cb85c;
        font-weight: bold;
        color: rgba(255,255,255,0.87);
    }
    .blog-nav-bar .nav-item{
        /*color: rgba(0,0,0,0.87);*/
        line-height: 40px;
        font-size: 13px;
    }
    .blog-nav-bar input{
        border-radius: 15px;
        /*border-color:#ff7997;*/
    }
    .search-btn{
        cursor: pointer;
        opacity: 1;
    }
    .search-btn:hover {
        opacity: 1;
    }
    .friend-item{
        padding-top: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .friend-item:hover{
        background-color: #eee;
    }
    .image-item, .image-item image{
        max-height: 160px;
        max-width: 160px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
    }
    .image-item a{
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    .image-item:hover{
        box-shadow: 0px 0px 3px 3px #ddd;
    }

    .more-blog{
        padding: 5px 0px;
        border-radius: 3px;
    }
    .more-blog:hover{
        background-color: #f5f5f5;

    }
</style>


<div class="container">

    <div class="row">
        <div class="col-md-9">
            <div class="box-area">
                <!--<div class="row">-->
                    <div class="col-md-12" style="margin-top: 10px;">
                        <ol style="margin: 0px;padding: 10px 5px;background-color: transparent" class="breadcrumb">
                            <li><a href="#topic/-1">所有分类</a></li>
                            <li class="active">{{topic.title}}</li>
                            <span style="font-size: 13px;"> - {{topic.desc}}</span>
                        </ol>
                    </div>
                <!--</div>-->
                <div class="row blog-nav-bar" style="margin-top: 5px;padding-bottom: 5px;">
                    <div class="col-xs-7 col-sm-8 col-md-9">

                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-3">
                        <input ng-model="query" style="margin: 5px 0px" class="form-control input-sm" ng-keydown="enterSearchBlog(event)" placeholder="搜索博客" type="text"/>
                    <span class="search-btn" style="display: inline-block;position: absolute;top: 6px;right: 18px;padding: 5px 10px">
                        <i style="color:#ff7997" title="点击搜索" class="glyphicon glyphicon-search"></i>
                    </span>
                    </div>
                </div>
                <!--<h4>博客列表</h4>-->
                <ul class="blog-nav" style="background-color: #eee;overflow: auto">
                    <li class="col-xs-12" ng-repeat="blog in blog_list | filter:query" style="margin-bottom: 10px">
                        <div class="row" style="padding-top: 20px;padding-bottom:20px;border-bottom: 1px solid #f5f5f5">
                            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1" style="text-align: center;padding-right: 0px">
                                <img style="width: 40px;height: 40px;border-radius:40px;border: 1px solid #ddd" ng-src="/images/{{blog.head_image}}" title="{{blog.name}}" alt=""/>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-9 col-lg-9">
                                <p style="font-size: 15px;margin: 2px 0px;color: rgba(0,0,0,0.87)">[{{blog.name}}] {{blog.title}}</p>
                                <p style="margin: 5px 0px;font-size: 13px;color: rgba(0,0,0,0.56);">{{blog.content}}</p>
                                <div class="image-item" ng-repeat="image in blog.images">
                                    <a href="/images/{{image}}" data-lightbox="image" data-title="this">
                                        <img style="max-width: 150px;max-height: 150px;margin: 5px;" src="/images/{{image}}" alt=""/>
                                    </a>
                                </div>

                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2" style="text-align: right">
                                <p style="font-size: 13px;color: rgba(0,0,0,0.56)">{{blog.time | date:"yyyy-MM-dd hh:mm"}}</p>
                            </div>
                            <div class="col-sm-offset-1 col-xs-offset-1 col-md-offset-1 col-xs-10 col-sm-10 col-sm-10 col-lg-10" style="margin-top:10px;">
                                <div class="row" ng-repeat="comment in blog.comment_list" style="background-color:#f5f5f5;margin-top: 3px;border-radius: 5px;padding-bottom:10px;padding-top: 10px;">
                                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1" style="text-align: center;">
                                        <img style="width: 30px;height: 30px;border-radius:40px;" ng-src="/images/{{comment.head_image}}" title="{{comment.name}}" alt=""/>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                                        <div>
                                            <span>[{{comment.name}}]</span>
                                            <span style="float: right;font-size: 12px;color: rgba(0,0,0,0.56)">{{comment.time | date:"yyyy-MM-dd hh:mm"}}</span>
                                            <p style="margin: 0;font-size: 13px;color: rgba(0,0,0,0.56)">{{comment.content}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p  class="oprate-bar" style="padding-top: 10px;"><a style="cursor: pointer" ng-click="showCommentModal(this)">评论</a><span>收藏</span></p>
                            </div>
                        </div>
                    </li>
                    <li ng-show="data_empty"><p style="padding: 10px">当前主题下没有博客信息，点击 <a href="">创建博客</a> 添加博客信息。</p></li>
                </ul>
                <div class="more-blog row" ng-show="next">
                    <p style="text-align: center;cursor: pointer;margin: 0px;" ng-click="changePage(1)">查看更多</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 box-area">
            <div class="row">
                <div style="text-align: center;line-height: 100px;">
                    <img style="height: 80px;width: 80px;border-radius: 80px;" ng-src="/images/{{user.head_image}}"
                         alt=""/>
                </div>
                <p style="text-align: center">
                    <span>主题<a href="">{{user.nb_topic}}</a></span>
                    <span>博客<a href="">{{user.nb_blog}}</a></span>
                    <span>好友<a href="">{{user.nb_friend}}</a></span>
                </p>
                <span style="width: 70%;margin: 0px 15%;" class="btn btn-success">
                    <a style="color: #fff;font-size: 15px;" data-toggle="modal"
                       data-target=".compose_blog_modal">创建博客</a>
                </span>
            </div>
            <div>
                <h5>活跃用户</h5>
                <div class="row" style="border-radius: 5px;background-color: #fff;padding: 5px;">
                    <div class="friend-item" style="width: 25%;display: inline-block;text-align: center" ng-repeat="friend in friend_list">
                        <a href="#account/{{friend.sha1}}">
                            <img style="width: 60%;margin:0 10%;border-radius: 100%;border: 1px solid #f5f5f5" src="/images/{{friend.head_image}}" alt=""/>
                            <span style="font-size:13px;color:rgba(0,0,0,0.56);display: inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-bind="friend.name"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade compose_blog_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">写博客</h4>
                </div>
                <div class="modal-body" style="min-height: 300px;">
                    <div class="form-group">
                        <label for="exampleInputEmail1">标题</label>
                        <input ng-model="blog.title" type="text" class="form-control" id="exampleInputEmail1"
                               placeholder="为你的博客写一段标题">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">内容</label>
                        <textarea ng-model="blog.content" class="form-control" placeholder="博客内容" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">附件</label>
                        <div class="upload-btn" style="height: 40px;width: 100px;border-radius:2px;cursor:pointer;background-color:#eee;text-align: center;position: relative;font-size: 16px;line-height: 40px;">
                            <span class="upload-title">选择照片</span>
                            <input id="blog_fileupload" type="file" style="width: 100px;height: 40px;margin:0px;opacity: 0;position: absolute;top: 0px;" multiple>
                        </div>
                        <div id="blog_files_area">
                            <p class="file-item" style="margin: 2px;font-size: 13px;padding: 5px" ng-repeat="file in file_list">
                                <span ng-bind="file.name"></span>
                                <a file_sha1="{{file.sha1}}" style="float: right" onclick="deleteFile(this)">删除</a>
                                <span style="float: right;padding: 0px 10px" ng-bind="file.size"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="saveBlog()">发表</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade comment_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">写评论</h4>
                </div>
                <div class="modal-body" style="min-height: 200px;" blog_sha1="{{comment_blog_sha1}}" parent_sha1="{{comment_parent_sha1}}">
                    <div class="form-group">
                        <label for="exampleInputEmail1">内容</label>
                        <textarea ng-model="comment.content" class="form-control" placeholder="博客内容" rows="6"></textarea>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="exampleInputEmail1">附件</label>-->
                        <!--<div class="upload-btn" style="height: 40px;width: 100px;border-radius:2px;cursor:pointer;background-color:#eee;text-align: center;position: relative;font-size: 16px;line-height: 40px;">-->
                            <!--<span class="upload-title">选择照片</span>-->
                            <!--<input id="blog_fileupload" type="file" style="width: 100px;height: 40px;margin:0px;opacity: 0;position: absolute;top: 0px;" multiple>-->
                        <!--</div>-->
                        <!--<div id="blog_files_area">-->
                            <!--<p class="file-item" style="margin: 2px;font-size: 13px;padding: 5px" ng-repeat="file in file_list">-->
                                <!--<span ng-bind="file.name"></span>-->
                                <!--<a file_sha1="{{file.sha1}}" style="float: right" onclick="deleteFile(this)">删除</a>-->
                                <!--<span style="float: right;padding: 0px 10px" ng-bind="file.size"></span>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="saveComment()">发表</button>
                </div>
            </div>
        </div>
    </div>
</div>
