<!DOCTYPE html>
<!--

    欢迎大家使用COCO V 1.0

    @@@@@@@   @@@@@@@     @@@@@@@    @@@@@@@
   @         @       @   @          @       @
   @         @       @   @          @       @
   @         @       @   @          @       @
   @         @       @   @          @       @
   @         @       @   @          @       @
    @@@@@@@   @@@@@@@     @@@@@@@    @@@@@@@

-->

<html ng-app>
<head>
    <title><%= title %></title>
    <link rel="SHORTCUT ICON" href="/images/icons/web_logo.ico">
    <link rel="BOOKMARK" href="/images/icons/web_logo.ico">
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="/rsa/jsbn.js"></script>-->
    <!--<script type="text/javascript" src="/rsa/rsa.js"></script>-->
    <script type="text/javascript" src="/rsa/sha1.js"></script>
</head>
<style type="text/css">
    body{
        /*background-color: #fafafa;*/
    }
    .nav-kit .item{
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        text-align: right;
    }
    .nav-kit .item a{
        color: rgba(3, 169, 244,1)
    }
    .footer-link a{
        padding: 0px 10px;
        font-size: 13px;
    }
    .footer-coryright{
        font-size: 13px;
        color: rgba(0,0,0,0.36);
    }
    pre{
        background-color: #fff;
        border: none;
        padding: 8px 5px;
        width: 90%;
    }
    .form-group label,.checkbox label{
        color: rgba(255,255,255,1);
    }

</style>
<script type="text/javascript">
    function registerCtrl($scope,$http){
        $scope.submit = function(){
            console.log($scope.user)
            var password1 = $scope.user.password1;
            var password2 = $scope.user.password2;
            if (password1 != password2){
                alert('Password error')
                return;
            }
            var password = sha1(password1)
            var encrypt_password = sha1(password)
            $scope.user.password = encrypt_password;
            $scope.user.password1 = encrypt_password
            $scope.user.password2 = encrypt_password
//            var $pem = "-----BEGIN PUBLIC KEY-----MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAMYQWDqtLgDKlQvWzacGeBMQpbicd/uoXAvgLNpFZLM7zuYFDhrYncRsl8LIHK0K3f7e1aFmUVgM4LrKU2WFIw0CAwEAAQ==-----END PUBLIC KEY-----";
//            var $key = RSA.getPublicKey($pem);
//            var encrypt_password = RSA.encrypt(password, $key);
            //console.log(encrypt_password)
            var userInfo = $scope.user;
            $http.post('/ajax/register/',userInfo).success(function(data){
                if(data['ret'] == '0001'){
                    $scope.user = {name:'',email:'',phone:'',password1:'',password2:''}
                    $('#register_area').html('<p style="color: rgba(255,255,255,0.8);font-size: 26px;">恭喜你！注册成功</p><p style="color: rgba(255,255,255,0.8);font-size: 16px;">请注意查收邮件，点击邮箱的激活链接来激活你的账号</p>');

                }

            });
        }

    }

</script>
<body>
<div style="width: 100%;background-color: #f5f5f5">
    <div class="container" style="padding: 12px 0px;">
        <div class="row nav-kit">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><span style="font-size: 24px;color: rgba(3, 169, 244,1)">COCO</span></div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
                <img style="width: 40px;height: 40px;" src="/images/icons/logo_bg.png" alt=""/>
            </div>
            <div class="item col-xs-2 col-sm-2 col-md-offset-3 col-md-1 col-lg-offset-3 col-lg-1"><a href="/coco/help/">帮助</a></div>
            <div class="item col-xs-2 col-sm-2 col-md-1 col-lg-1"><a href="/coco/login/">登录</a></div>
        </div>
    </div>
</div>
<div style="width: 100%;background-color: rgba(3, 169, 244, 0.8);">
<div class="container" style="min-height: 604px">
    <div class="row" style="margin-top: 0px;">
        <div ng-controller="registerCtrl">
            <div class="row" style="padding-top: 60px;padding-bottom: 60px">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
                    <img src="/images/icons/adpic.png" alt=""/>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" style="margin-top: 20px;" id="register_area">
                    <form style="padding: 10px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">用户名</label>
                            <input ng-model="user.name" type="text" class="form-control" id="exampleInputEmail1" placeholder="用户昵称">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">邮箱</label>
                            <input ng-model="user.email" type="text" class="form-control" id="exampleInputPassword1" placeholder="邮箱地址">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">手机</label>
                            <input ng-model="user.phone" type="text" class="form-control" id="exampleInputPassword1" placeholder="手机号码">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            <input ng-model="user.password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">重复密码</label>
                            <input ng-model="user.password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">服务条款
                            </label>
                        </div>
                        <button style="float: right" class="btn btn-default" ng-click="submit()">点击注册</button>
                        <p style="font-size: 13px;color: rgba(255,255,255,1);padding: 8px 1px;">已经有账号？<a href="/coco/login/">点击登录</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid" style="background-color: #eee">
    <div class="row">
        <div class="col-xs-12" style="margin-top: 20px;">
            <div style="padding: 3px;text-align: center;">
                <p class="footer-link">
                    <a href="/developer/">开发文档</a>
                    <a href="#">联系我们</a>
                    <a href="#">在线客服</a>
                    <a href="#">销售联盟</a>
                </p>
                <p class="footer-coryright">网络文化经营许可证京网文[2011]0168-061号  Copyright © 2004-2014</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
