<style type="text/css">
    .topic-item{
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #eee;
        padding: 10px;
        /*height: 160px;*/
        margin-top: 10px;
        cursor: pointer;

    }
    .topic-item:hover{
        box-shadow: 0px 0px 10px 3px #ddd;
    }

</style>

<div class="container" ng-controller="topicPageController as mainCtrl">
    <div class="row">
        <div class="col-md-9">
            <div style="padding:8px;background-color: #fff;margin-top: 20px;border-radius: 5px;">
                <span>我的主题</span>
            </div>
            <div style="border-radius: 5px;">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="topic in topic_list">
                        <div class="topic-item">
                            <p><img style="width: 30px;height: 30px;border-radius:30px;" ng-src="/images/{{topic.head_image}}" alt=""/>
                                <span style="font-weight: bold;padding: 0px 10px">{{topic.name}}</span>
                            </p>
                            <h4 style="text-align: center;line-height: 40px;border-bottom: 1px solid #eee">
                                <a href="#/blog/{{topic.sha1}}">{{topic.title}}</a></h4>
                            <p style="font-size: 13px;text-align: center;color: rgba(0,0,0,0.56)">{{topic.time}}</p>

                            <p style="margin: 0px;font-size: 13px;color: rgba(0,0,0,0.87)">{{topic.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding:8px;background-color: #fff;margin-top: 20px;border-radius: 5px;clear: both;width: 100%">
                <span>热门主题</span>
            </div>
            <!--<div style="border-radius: 5px;">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="topic in topic_list">-->
                        <!--<div class="topic-item">-->
                            <!--<p style="font-size: 13px;text-align: center;color: rgba(0,0,0,0.56)">{{topic.time}}</p>-->
                            <!--<h4 style="text-align: center;line-height: 70px;border-bottom: 1px solid #eee">{{topic.title}}</h4>-->
                            <!--<p style="margin: 0px;font-size: 13px;color: rgba(0,0,0,0.87)">{{topic.desc}}</p>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="col-md-3" style="height: 600px;margin-top: 20px;" ng-controller="blogPageCtrl">
            <div style="background-color: #fff;border-radius: 5px;height: 200px;padding: 10px 0px;">
                <div style="text-align: center;line-height: 100px;">
                    <img style="height: 80px;width: 80px;border-radius: 80px;" src="/images/{{user.head_image}}" alt=""/>
                </div>
                <p style="text-align: center">
                    <span>好友<a href="">{{user.nb_friend}}</a></span>
                    <span>主题<a href="">{{user.nb_topic}}</a></span>
                    <span>博客<a href="">{{user.nb_blog}}</a></span>
                </p>
            <span style="width: 70%;margin: 0px 15%;" class="btn btn-danger">
                <a style="color: #fff;font-size: 15px;" data-toggle="modal" data-target=".compose_topic_modal">创建主题</a>
            </span>
            </div>
            <div>
                <h5>我关注的人</h5>
                <div style="height: 180px;border-radius: 5px;background-color: #fff">

                </div>
                <h5>我关注的主题</h5>
                <div style="height: 180px;border-radius: 5px;background-color: #fff"></div>
            </div>
        </div>
    </div>
    <div class="modal fade compose_topic_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建主题</h4>
                </div>
                <div class="modal-body" style="height: 220px;">
                    <div class="form-group">
                        <label for="exampleInputEmail1">主题</label>
                        <input ng-model="topic.title" type="text" class="form-control" id="exampleInputEmail1" placeholder="为你的博客写一段标题">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <textarea ng-model="topic.desc" class="form-control" placeholder="主题的描述" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="saveTopic()">创建</button>
                </div>
            </div>
        </div>
    </div>
</div>


