<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/Socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/AngularJs/angular-route.js"></script>
    <script type="text/javascript">
        var client = io.connect('http://127.0.0.1:8089');
        client.on('connect',function() {
            console.log('Client has connected to the server!');
        });
       client.on('message',function(data) {
            console.log(data);
           $('#chat-history').append('<li>'+data+'</li>');
        });
       client.on('disconnect',function() {
            console.log('Client has disconnected from the server!');
        });
       //client.send('message from chenhao')

        function bindEnterKeySend(e){
            var e = e || window.event;
            if(e.keyCode == 13){
                sendMessage();
            }
        }

        function sendMessage() {
            var message = $('#chat-input').val();
            var date = new Date();
            //client.set('user_name',date.getTime());
            client.send(message);
        }
    </script>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<div style="height: 400px;width: 450px;background-color: #f5f5f5;margin: 10px;padding: 5px;">
    <div id="chat-history" style="height: 355px;background-color: #fff;width: 100%;">

    </div>
    <div>
        <div class="col-md-10">
            <input id="chat-input" type="text" class="form-control input-sm-4" onkeydown="bindEnterKeySend(event)"/>
        </div>
        <div class="col-md-2">
            <span class="btn btn-success btn-sm" onclick="sendMessage()"> Send</span>
        </div>

    </div>
</div>
</body>
</html>
