<div class="container">
    <h4>好友动态</h4>
    <div class="" style="height: 200px;border: 1px solid #f5f5f5;box-shadow: 0px 0px 5px 3px #ddd;background-color: #eee"></div>
    <h4>博客更新</h4>
    <div class="" style="height: 150px;background-color: #fff"></div>
    <h4>关注话题</h4>
    <div class="" style="height: 160px;border: 1px solid #eee"></div>
</div>