<!DOCTYPE html>
<!--

    欢迎大家使用COCO V 1.0

    @@@@@@@   @@@@@@@     @@@@@@@    @@@@@@@
   @         @       @   @          @       @
   @         @       @   @          @       @
   @         @       @   @          @       @
   @         @       @   @          @       @
   @         @       @   @          @       @
    @@@@@@@   @@@@@@@     @@@@@@@    @@@@@@@

-->

<html ng-app>
<head>
    <title>一颗网 COCO博客 onekoko.com 不一样的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=0, maximum-scale=0, user-scalable=no">
    <link rel="SHORTCUT ICON" href="/images/icons/web_logo.ico">
    <link rel="BOOKMARK" href="/images/icons/web_logo.ico">
    <meta name="description" content="一颗网 COCO博客 不一样的博客 onekoko.com" />
    <meta name="keywords" content="一颗网 COCO博客 不一样的博客 onekoko.com" />
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/rsa/sha1.js"></script>
</head>
<style type="text/css">
    body {
        background-color: #f5f5f5;
    }

    .nav-kit .item {
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        text-align: right;
    }

    .nav-kit .item a {
        color: rgba(3, 169, 244, 1)
    }

    .footer-link a {
        padding: 0px 10px;
        font-size: 13px;
        color: #009688;
    }

    .footer-coryright {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.36);
    }

    pre {
        background-color: #fff;
        border: none;
        padding: 8px 5px;
        width: 90%;
    }

    #register_area .form-control{
        border-color: #ddd;
        color: #999;
        font-size: 13px;
    }
    .form-group label, .checkbox label {
        color: #999;
        font-weight: normal;
    }

    .nav .sign-in a {
        display: inline-block;
        padding: 5px 25px;
        border: 1px solid #09c;
        border-radius: 5px;
        color: #09c;
        margin: 10px;
    }

</style>
<script type="text/javascript">
    function registerCtrl($scope, $http) {
        $scope.submit = function () {
            console.log($scope.user)
            var password1 = $scope.user.password1;
            var password2 = $scope.user.password2;
            if (password1 != password2) {
                alert('Password error')
                return;
            }
            var password = sha1(password1)
            var encrypt_password = sha1(password)
            $scope.user.password = encrypt_password;
            $scope.user.password1 = encrypt_password
            $scope.user.password2 = encrypt_password
            var userInfo = $scope.user;
            $http.post('/ajax/register/', userInfo).success(function (data) {
                if (data['ret'] == '0001') {
                    $scope.user = {name: '', email: '', phone: '', password1: '', password2: ''}
                    $('#register_area').html('<p style="color: rgba(255,255,255,0.8);font-size: 26px;">恭喜你！注册成功</p><p style="color: rgba(255,255,255,0.8);font-size: 16px;">请注意查收邮件，点击邮箱的激活链接来激活你的账号</p>');
                }
            });
        }
    }

</script>
<body>
<div class="navbar navbar-default navbar-fixed-top" style="background-color: #fff;padding-top: 10px;padding-bottom: 10px">
    <div class="container">
        <div id="navbar-header" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding: 10px">
                <img width="30" src="/images/icons/toys.png" alt=""/>
                <span>一颗网</span>
            </a>
        </div>
        <div id="navbar-menu" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/coco/">一颗网</a></li>
                <li><a href="/coco//login/#feature">特性</a></li>
                <li><a href="/coco//login/#product">产品</a></li>
                <li><a href="/coco//login/#about">关于技术</a></li>
                <li  class="sign-in"><a href="/coco/login/">登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="width: 100%;margin-top: 83px">
    <div class="container" style="min-height: 604px">
        <div ng-controller="registerCtrl">
            <div class="row" style="padding-top: 20px;padding-bottom: 20px">
                <div class="col-xs-4 col-xs-offset-4" style="padding:25px 15px;border: 1px dashed #009688;border-radius: 10px;background-color: #fff" id="register_area">
                    <!--<h4>用户注册</h4>-->
                    <form style="padding: 15px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">用户名</label>
                            <input ng-model="user.name" type="text" class="form-control" id="exampleInputEmail1"
                                   placeholder="用户昵称">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">邮箱</label>
                            <input ng-model="user.email" type="text" class="form-control" id="exampleInputPassword1"
                                   placeholder="邮箱地址">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">手机</label>
                            <input ng-model="user.phone" type="text" class="form-control" id="exampleInputPassword1"
                                   placeholder="手机号码">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            <input ng-model="user.password1" type="password" class="form-control"
                                   id="exampleInputPassword1" placeholder="密码">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">重复密码</label>
                            <input ng-model="user.password2" type="password" class="form-control"
                                   id="exampleInputPassword1" placeholder="密码">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">服务条款
                            </label>
                        </div>
                        <button style="width: 100%;margin-top: 25px;background-color: #009688;color: #eee" class="btn btn-default" ng-click="submit()">点击注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="border-top: 1px solid #f1f1f1;background-color: #fff">
    <div class="row">
        <div class="col-xs-12" style="margin-top: 20px;">
            <div style="padding: 3px;text-align: center;">
                <p class="footer-link">
                    <a href="/developer/">开发文档</a>
                    <a href="#">联系我们</a>
                    <a href="#">在线客服</a>
                    <a href="#">销售联盟</a>
                </p>
                <p class="footer-coryright">网络文化经营许可证京网文[2011]0168-061号 Copyright © 2004-2014</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
