<!DOCTYPE html>
<html ng-app="coco">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="/AngularJs/angular.js"></script>
    <script type="text/javascript" src="/AngularJs/angular-route.js"></script>
    <script type="text/javascript" src="/Jquery/jquery-lib-2.11.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/js/coco-message-client.js"></script>
    <script type="text/javascript" src="/js/coco-util.js"></script>
    <script type="text/javascript">
        var mosu_app = angular.module('coco',['ngRoute']);
        mosu_app.config(['$routeProvider',function($routeProvider){
            $routeProvider.
                    when('/chat/',{
                        templateUrl:'/coco/chat/',
                        controller:''
                    }).
                    when('/blog/',{
                        templateUrl:'/coco/blog/',
                        controller:''
                    }).
                    when('/index/',{
                        templateUrl:'/coco/index/',
                        controller:''
                    }).
                    when('/account/',{
                        templateUrl:'/coco/account/',
                        controller:''
                    }).
                    otherwise({redirectTo:'/index/'});
        }]);
        $(function(){

        });

    </script>
    <script type="text/javascript">

//        var blogModule = angular.module('coco',[]);
//
//        blogModule.factory('Blog',function(){
//           Blog.showBlog = function(){
//               var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
//               $http.post('/ajax/get_blog_list/',{creator_sha1:creator_sha1}).success(function(data){
//                   if(data['ret'] == '0001'){
//                       console.log(data);
//                       var blog_list = data['blog_list']
//                       blog_list.forEach(function(obj){
//                           var format_data = new Date(parseInt(obj['time']))
//                           obj['time'] = format_data.Format('yyyy/MM/dd hh:mm')
//                           console.log(obj['time'])
//                           return blog_list;
//                       })
//                       //$scope.blog_list = data['blog_list']
//                   }else{
//
//                   }
//               });
//           }
//
//        });


        function chatPageCtrl($scope,$http){
            var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
            $scope.user = JSON.parse(loginUserInfo);

            var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
            $http.post('/ajax/get_friend_list/',{creator_sha1:creator_sha1}).success(function(data){
                if(data['ret'] == '0001'){
                    console.log(data);
                }else{

                }
            });
            // get user friend list
        }
        function blogPageCtrl($scope){
            var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
            $scope.user = JSON.parse(loginUserInfo);

        }

        function accountPageCtrl($scope){
            var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
            var info = JSON.parse(loginUserInfo);
            info['time'] = new Date(parseInt(info['time'])).Format('yyyy-MM-dd')
            $scope.user = info;
        }


        function showTopic($scope,$http){
            var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
            $http.post('/ajax/get_topic_list/',{creator_sha1:creator_sha1}).success(function(data){
                if(data['ret'] == '0001'){
                    console.log(data);
                    var blog_list = data['topic_list']
                    blog_list.forEach(function(obj){
                        var format_data = new Date(parseInt(obj['time']))
                        obj['time'] = format_data.Format('yyyy/MM/dd hh:mm')
                        console.log(obj['time'])
                    })
                    $scope.topic_list = data['topic_list']
                }else{

                }
            });
        }


        function composeTopic($scope,$http){
            $scope.saveTopic = function(){
                var topicInfo = $scope.topic;
                var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
                topicInfo['creator_sha1'] = creator_sha1
                $http.post('/ajax/save_topic/',topicInfo).success(function(data){
                    if(data['ret'] == '0001'){
                        $scope.topic.title = '';
                        $scope.topic.desc = '';
                        $('.compose_topic_modal').modal('hide');
                    }else{

                    }
                });
            }
        }

function blogPageController($scope,$http){
    // 显示博客列表
    $scope.blog_list = []
    showBlog();

    $scope.saveBlog = function(){
        var title = $scope.blog_title;
        var content = $scope.blog_content;
        var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
        $http.post('/ajax/save_blog/',{title:title,content:content,creator_sha1:creator_sha1}).success(function(data){
            if(data['ret'] == '0001'){
                console.log(data);
                $('.compose_blog_modal').modal('hide');
                $scope.blog_title=''
                $scope.blog_content=''
                //showBlog();

                // 利用angular刷新
                $scope.blog_list = data['blog'].concat($scope.blog_list);
            }else{

            }
        });
    }
    function showBlog(){
        // get blog from server
        var creator_sha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
        $http.post('/ajax/get_blog_list/',{creator_sha1:creator_sha1}).success(function(data){
            if(data['ret'] == '0001'){
                console.log(data);
                var blog_list = data['blog_list']
                blog_list.forEach(function(obj){
                    var format_data = new Date(parseInt(obj['time']))
                    obj['time'] = format_data.Format('yyyy/MM/dd hh:mm')
                    console.log(obj['time'])
                })
                $scope.blog_list = data['blog_list']
            }else{

            }
        });
    }
}


    </script>
    <script type="text/javascript" src="/Jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/Jquery/jquery.fileupload.js"></script>
    <script type="text/javascript">

        $(function () {
            // 文件上传
            $('#fileupload').fileupload({
                url:'/ajax/upload/',
                sequentialUploads: true,
                dataType: 'json',
                done: function (e, data) {
                    var image_url = "/images/"+data.result['sha1'];
                    $('.show_image_view').html('<img src='+image_url+'>');
                    $('.upload-title').text('重新选择');
                    $('#fileupload').attr("imagesha1",data.result['sha1']);
                }
            });




        });
        // 保存图像
        function saveImage(){
            var imagesha1 = $('#fileupload').attr("imagesha1");
            var usersha1 = sessionStorage.getItem('LOGIN_USER_SHA1');
            $.post('/ajax/set_image/',{imagesha1:imagesha1,usersha1:usersha1},function(data){
                console.log(data)
                var loginUserInfo = sessionStorage.getItem('LOGIN_USER_INFO');
                // 更新前端的缓存
                var info = JSON.parse(loginUserInfo);
                info['head_image'] = imagesha1;
                sessionStorage.setItem('LOGIN_USER_INFO',JSON.stringify(info));
                // 更改前端的显示
                $('#user_head_image').attr('src','/images/'+imagesha1);
                $('.upload_image_modal').modal('hide');

            });
        }

    </script>
    <style type="text/css">
        body{
            background-color: #fafafa;
        }
        .device-item{
            width: 60px;
            height: 60px;
            border-radius:100% ;
            background-color: #b2ebf2;
            line-height: 60px;
            text-align: center;
            cursor: pointer;
            margin: auto;
        }
        .device-item:hover{
            background-color: #00bcd4;
        }
        .device-card{
            margin: 5px;
            background-color: #f5f5f5;
            box-shadow: 1px 1px 1px #ddd;
            height: 200px;
        }
        .footer-link a{
            padding: 0px 10px;
            font-size: 13px;
        }
        .footer-coryright{
            font-size: 13px;
            color: rgba(0,0,0,0.36);
        }
        .nav-kit .item{
            text-align: center;
        }
        .nav-kit .item a{
            color: rgba(255,255,255,0.87);
            text-align: center;
        }
    </style>

</head>
<body>
<div class="visible-xs-* hidden-sm hidden-md hidden-lg" style="text-align: center;border-bottom:1px solid #ff5277;background-color: #f50057;padding: 5px 0px;color: rgba(255,255,255,0.87)"><h4 style="margin: 0px">COCO </h4></div>
<div style="background-color: #ff5277;width: 100%">
    <div class="container" style="background-color: #ff5277;padding: 12px 0px;color: rgba(255,255,255,0.87)">
        <div class="row nav-kit">
            <div class="hidden-xs col-sm-4 col-md-8"><h4 style="margin: 0px">COCO </h4></div>
            <div  class="item col-xs-3 col-sm-2 col-md-1"><a href="#index"><i class="glyphicon glyphicon-home"></i>首页</a></div>
            <div class="item col-xs-3 col-sm-2 col-md-1"><a href="#blog"><i class="glyphicon glyphicon-align-left"></i>博客</a></div>
            <div class="item col-xs-3 col-sm-2 col-md-1"><a href="#chat"><i class="glyphicon glyphicon-envelope"></i>消息</a></div>
            <div class="item col-xs-3 col-sm-2 col-md-1"><a href="#account"><i class="glyphicon glyphicon-cog"></i>设置</a></div>
        </div>
    </div>
</div>

<div class="" ng-view>

</div>
<div class="container-fluid" >
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            <div style="padding: 3px;text-align: center;">
                <p class="footer-link">
                    <a href="#">关于我们</a>
                    <a href="#">联系我们</a>
                    <a href="#">在线客服</a>
                    <a href="#">销售联盟</a>
                </p>
                <p class="footer-coryright">网络文化经营许可证京网文[2011]0168-061号  Copyright © 2004-2014</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade upload_image_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">换头像</h4>
            </div>
            <div class="modal-body" style="height: 300px;">
                <div class="show_image_view" style="text-align: center;padding: 0px 0px 20px 0px"></div>
                <div class="upload-btn" style="height: 40px;width: 80%;margin:0px 10%;text-align: center;position: relative;font-size: 16px;line-height: 40px;">
                    <span class="upload-title">选择照片</span>
                    <input id="fileupload" type="file" style="width: 100%;height: 100%;opacity: 0;position: absolute;top: 0px;" multiple>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                <button type="button" id="save_image" onclick="saveImage()" class="btn btn-danger btn-sm">确定</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>
