<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="box-area" style="height: auto;">
                <div class="row blog-nav-bar" style="margin-top: 5px;padding: 5px 15px 10px 15px;">
                    <div class="col-xs-7 col-sm-8 col-md-9">
                        <ol style="margin: 0px;padding: 10px 5px;background-color: transparent" class="breadcrumb">
                            <li><a href="#topic/-1">所有分类</a></li>
                            <li class="active">{{topic_type}}</li>
                            <!--<span class="btn btn-success btn-sm pull-right">-->
                            <!--<a style="color: #fff;" data-toggle="modal" data-target=".compose_topic_modal">添加主题</a>-->
                            <!--</span>-->
                        </ol>
                        <!--<p class="topic-category" style="font-size: 12px;margin-top: 5px;">-->
                            <!--<a class="item item-active" ng-click="changeOrder(0)">全部</a>-->
                            <!--<a class="item" ng-click="changeOrder(1)">最热</a>-->
                            <!--<a class="item" ng-click="changeOrder(2)">最新</a>-->
                        <!--</p>-->
                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-3">
                        <input ng-model="query" style="margin: 5px 0px;border-radius: 15px;"
                               class="form-control input-sm" ng-keydown="enterSearchTopic(event)" placeholder="搜索主题"
                               type="text"/>
                        <span class="search-btn"
                              style="display: inline-block;position: absolute;top: 6px;right: 18px;padding: 5px 10px">
                            <i style="color:#ff7997" title="点击搜索" class="glyphicon glyphicon-search"></i>
                        </span>
                    </div>
                </div>
                <div class="row" style="background-color: #fff;margin: 0px;padding-top: 10px;padding-bottom: 20px">
                    <div class="col-xs-6 col-sm-4"
                         ng-repeat="topic in topic_list|filter:query | orderBy:order:true">
                        <div class="topic-item">
                            <a class="topic-link" href="#/blog/{{topic.sha1}}">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h5 style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden">
                                            {{topic.title}}</h5>
                                        <p style="margin:10px 0px;font-size: 12px;text-overflow: ellipsis;overflow: hidden;height: 20px;color: #999">
                                            <span style="color:rgba(0,0,0,0.87)"></span>{{topic.desc}}</p>
                                    </div>
                                    <div class="col-xs-8">
                                        <img style="width: 30px;height: 30px;border-radius:40px;"
                                             ng-src="/images/{{topic.head_image}}" alt=""/>

                                        <span style="font-size: 12px;color: #666;padding: 2px">{{topic.name}}</span>
                                    </div>

                                    <div class="col-md-4" style="text-align: right">
                                        <span style="display:inline-block;margin:10px 0px;font-size: 12px;color: rgba(0,0,0,0.56)">博客 ({{topic.related.length}})</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div ng-show="next" class="col-xs-6 col-sm-4"
                         style="text-align: center">
                        <div class="topic-item">
                            <a class="topic-link" ng-click="changePage(1)" style="line-height: 102px;cursor: pointer">
                                更多
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 box-area">
            <div style="height: 800px;"></div>
        </div>
    </div>
</div>
<div class="container main-container">
    <div class="modal fade compose_topic_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建主题</h4>
                </div>
                <div class="modal-body" style="height: 220px;">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label for="exampleInputEmail1">主题</label>
                                <input ng-model="topic.title" type="text" class="form-control" id="exampleInputEmail1"
                                       placeholder="为你的博客写一段标题">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">分类</label>
                                <select ng-model="topic.type" class="form-control">
                                    <option value="0">科技</option>
                                    <option value="1">编程</option>
                                    <option value="2">设计</option>
                                    <option value="3">创业</option>
                                    <option value="4" selected>其他</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <textarea ng-model="topic.desc" class="form-control" placeholder="主题的描述" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="saveTopic()">创建</button>
                </div>
            </div>
        </div>
    </div>
</div>