body{
  background-color: #f8f8f8;
  font-family: "华文细黑";
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 200px;
  height: 80px;
  border: 1px dashed #009688;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 80px;
  text-align: center;
  color: #009688;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}


.device-item{
  width: 60px;
  height: 60px;
  border-radius:100% ;
  background-color: #b2ebf2;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
.device-item:hover{
  background-color: #00bcd4;
}
.device-card{
  margin: 5px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #ddd;
  height: 200px;
}
.navbar-nav .dropdown a{
  padding-left: 30px;
  padding-right: 30px;
}
.footer-link a{
  padding: 0px 10px;
  font-size: 13px;
  color: #009688;
}
.footer-coryright{
  font-size: 13px;
  color: rgba(0,0,0,0.36);
}
.nav-kit .item{
  text-align: center;
  margin-top: 8px;
  padding: 0px;
}
.nav-kit .item a{
  color: rgba(255,255,255,0.87);
  text-align: center;
}
.btn a{
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.blog-category .item{
  padding: 4px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius:15px;
  text-decoration: none;
  font-weight: bold;
}
.blog-category .item-active{
  background-color: #ddd;
}
.navbar-nav .nav-active{
  background-color: #ddd;
}

.box-area{
  background: #fafafa;
  border-radius: 3px;
  border-top: 1px solid #fff;
}
.box-area,.box-item{
  border-bottom: 1px solid #e8e8e8;
}
.blog-nav-bar{
  padding: 15px 0px;
  background-color: #f8f8f8;
}
.topic-nav .item-active{
  background-color: #009688;
  color: #fff;
}

.-mob-share-list{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.-mob-share-weibo,
.-mob-share-qq,
.-mob-share-weixin,
.-mob-share-douban,
.-mob-share-qzone{
  height: 35px;
  width: 35px;
  display: inline-block;
  background-size: contain;
  background-position: 0px 0px;
  cursor: pointer;
  margin: 5px;
}

.-mob-share-weibo {
  background-image: url("/images/share_sdk/sinaweibo.png");
}

.-mob-share-qq {
  background-image: url("/images/share_sdk/qq.png");
}

.-mob-share-weixin {
  background-image: url("/images/share_sdk/wechat.png");
}

.-mob-share-douban {
  background-image: url("/images/share_sdk/douban.png");
}

.-mob-share-qzone {
  background-image: url("/images/share_sdk/qzone.png");
}

.-mob-share-weibo:hover {
  background-image: url("/images/share_sdk/sinaweibo_checked.png");
}

.-mob-share-qq:hover {
  background-image: url("/images/share_sdk/qq_checked.png");
}

.-mob-share-weixin:hover {
  background-image: url("/images/share_sdk/wechat_checked.png");
}

.-mob-share-douban:hover {
  background-image: url("/images/share_sdk/douban_checked.png");
}

.-mob-share-qzone:hover {
  background-image: url("/images/share_sdk/qzone_checked.png");
}

@media (max-width: 767px) {
  #coco-header{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #coco-body{
    margin-top:73px;
    padding-bottom:20px;
  }
  .coco-padding{
    padding-left: 8px;
  }
  .friend-item{
    border-bottom:1px solid #f1f1f1 ;
  }
}
@media (min-width: 768px) {
  #coco-header{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #coco-body{
    margin-top:80px;
    padding-bottom:20px;
  }
  .friend-item:hover{
    background-color: #f8f8f8;
    border-radius: 3px;
  }
}

.topic-nav{
  margin: 0px;
  padding: 8px;
  list-style: none;
}
.topic-nav li{
  display: inline-block;
  width: 70px;
  text-align: center;
}
.topic-nav .item{
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.topic-item{
  border-top: 1px solid #e1e1e1;
  margin: 0px;
  padding: 10px;
  cursor: pointer;
}
.topic-item:hover{
  background-color: #f8f8f8;
}
.topic-item .userinfo{
    padding-left: 56px;
    position: relative;
}

.topic-item .image{
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 1px;
  left: 5px;
  top: 2px;
}

.coco-title{
  font-size: 13px;
  color: #009688;
  padding: 10px 0px;
}


.friend-item{
    padding-left: 60px;
    background-color: #fff;
    margin:0px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.friend-item .image{
    position: absolute;
    left: 10px;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 2px;
}
.friend-item .name{
  font-size: 15px;
  color: #666;
  margin: 0px;
}
.friend-item .info{
  font-size: 12px;
  color: #999;
}

.friend-item:hover{

}


.oprate-bar {
  text-align: right;
  margin: 0;
}
.oprate-bar .reply,
.oprate-bar .like{
  color: #009688;
  font-size: 13px;
  cursor: pointer;
  padding: 0px 10px;
  display: inline-block;
}
.oprate-bar .time{
  color: #999;
  font-size: 13px;
}

.oprate-bar span:hover {
  text-decoration: underline;
}


.blog-nav-bar .nav-item {
  cursor: pointer;
  margin-right: 5px;
  padding: 4px 8px;
  border-radius: 35px;
}
.blog-nav-bar .nav-item a{
  text-decoration: none;
}

.blog-nav-bar .nav-active {
  background-color: #5cb85c;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

.blog-nav-bar .nav-item {
  line-height: 40px;
  font-size: 13px;
}

.blog-nav-bar input {
  border-radius: 15px;
}

.search-btn {
  cursor: pointer;
  opacity: 1;
}

.search-btn:hover {
  opacity: 1;
}

.image-item, .image-item image {
  max-height: 160px;
  max-width: 160px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

.image-item a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.image-item:hover {
  box-shadow: 0px 0px 3px 3px #ddd;
}

.more-blog {
  padding: 5px 0px;
  border-radius: 3px;
  background-color: #fff;
}

.more-blog:hover {
  background-color: #fff;

}

.comment-list{
  background-color: #f5f5f5;
  margin-top: 10px;
  border-radius: 3px;
}

.comment-list .comment-item{
  margin: 3px 3px;
  display: inline-block;
}

.comment-list .comment-item .content,
.comment-list .comment-item .time{
  font-size: 13px;
  color: #999;
  margin-left: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-active{
  color: #009688;
  font-size: 18px;
  font-weight: bold;
}


@-webkit-keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
#spinner:hover {
    height: 30px;
    width: 30px;
    overflow: hidden;
    -webkit-mask-image: url("data:image/png[...]");
    -webkit-mask-size: 30px 30px;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
