body{
  background-color: #f1f1f1;
  font-family: "华文细黑";
}
a{
  color: #009688;
}
.device-item{
  width: 60px;
  height: 60px;
  border-radius:100% ;
  background-color: #b2ebf2;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
.device-item:hover{
  background-color: #00bcd4;
}
.device-card{
  margin: 5px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #ddd;
  height: 200px;
}
.navbar-nav .dropdown a{
  padding-left: 30px;
  padding-right: 30px;
}
.footer-link a{
  padding: 0px 10px;
  font-size: 13px;
  color: #009688;
}
.footer-coryright{
  font-size: 13px;
  color: rgba(0,0,0,0.36);
}
.nav-kit .item{
  text-align: center;
  margin-top: 8px;
  padding: 0px;
}
.nav-kit .item a{
  color: rgba(255,255,255,0.87);
  text-align: center;
}
.btn a{
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.blog-category .item{
  padding: 4px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius:15px;
  text-decoration: none;
  font-weight: bold;
}
.blog-category .item-active{
  background-color: #ddd;
}
.navbar-nav .nav-active{
  background-color: #ddd;
}

.box-area{
  background: #fafafa;
  border-radius: 3px;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
  /*border-bottom: 1px solid #e8e8e8;*/
  border-top: 1px solid #fff;
}
.box-area,.box-item{
  border-bottom: 1px solid #e8e8e8;
}
.topic-item{
  border: 1px dashed #ccc;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 3px;
}

.topic-category{
  padding: 15px 0px;
  background-color: #f8f8f8;
}
.topic-category .item{
  padding:6px 15px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}
.topic-category .item-active{
  background-color: #ddd;
}

.-mob-share-list{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.-mob-share-weibo,
.-mob-share-qq,
.-mob-share-weixin,
.-mob-share-douban,
.-mob-share-qzone{
  height: 35px;
  width: 35px;
  display: inline-block;
  background-size: contain;
  background-position: 0px 0px;
  cursor: pointer;
  margin: 5px;
}

.-mob-share-weibo {
  background-image: url("/images/share_sdk/sinaweibo.png");
}

.-mob-share-qq {
  background-image: url("/images/share_sdk/qq.png");
}

.-mob-share-weixin {
  background-image: url("/images/share_sdk/wechat.png");
}

.-mob-share-douban {
  background-image: url("/images/share_sdk/douban.png");
}

.-mob-share-qzone {
  background-image: url("/images/share_sdk/qzone.png");
}

.-mob-share-weibo:hover {
  background-image: url("/images/share_sdk/sinaweibo_checked.png");
}

.-mob-share-qq:hover {
  background-image: url("/images/share_sdk/qq_checked.png");
}

.-mob-share-weixin:hover {
  background-image: url("/images/share_sdk/wechat_checked.png");
}

.-mob-share-douban:hover {
  background-image: url("/images/share_sdk/douban_checked.png");
}

.-mob-share-qzone:hover {
  background-image: url("/images/share_sdk/qzone_checked.png");
}

@media (max-width: 767px) {
  #coco-nav{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  #coco-nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
  }
}
